In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_excel("Book1.xlsx")

In [3]:
data

,TransType,TransDate,Year,TransNO,InvRefNo,StoreFr,StoreTo,PSID,LCID,LCDate,...,UserPc,UserId,InTime,IP,UpdatePC,UpdateUserID,UpdateTime,UpdateIP,ItemID,ItemID.1
0,BUY,2018-08-31,2018,1,NaN,NaN,S01,NaN,102050100001,1.0,...,mi3-wtr1,10101,2018-09-16 16:41:00,70.32.29.156,WIN-COP36UURNHE,10101.0,2020-05-20 02:40:00,103.3.164.161,SULTAN,10010001
1,BUY,2018-08-31,2018,1,NaN,NaN,S01,NaN,102050100001,1.0,...,mi3-wtr1,10101,2018-10-31 19:43:00,70.32.29.156,mi3-wtr1,10101.0,2019-10-01 17:10:00,162.249.5.171,TAMILON,10010012
2,BUY,2018-08-31,2018,1,NaN,NaN,S01,NaN,102050100001,1.0,...,mi3-wtr1,10101,2019-01-17 14:36:00,162.249.5.171,NaN,NaN,NaT,NaN,OLYMPIA GOLD,10010014
3,BUY,2018-08-31,2018,1,NaN,NaN,S01,NaN,102050100001,1.0,...,mi3-wtr1,10101,2019-01-17 17:24:00,162.249.5.171,NaN,NaN,NaT,NaN,PRESIDENT,10010015
4,BUY,2018-08-31,2018,1,NaN,NaN,S01,NaN,102050100001,1.0,...,mi3-wtr1,10101,2019-09-05 15:24:00,162.249.5.171,NaN,NaN,NaT,NaN,EMIRATES,10010032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17566,SALE,2021-11-08,2021,1247,7272.0,S06,NaN,1.020207e+11,102050100107,NaN,...,WIN-COP36UURNHE,10102,2021-11-08 22:12:00,103.113.172.166,NaN,NaN,NaT,NaN,JASMINE (2),10020039
17567,SALE,2021-11-08,2021,1247,7272.0,S06,NaN,1.020207e+11,102050100107,NaN,...,WIN-COP36UURNHE,10102,2021-11-08 22:12:00,103.113.172.166,NaN,NaN,NaT,NaN,NATUREL LIFE,10020017
17568,SALE,2021-11-08,2021,1247,7272.0,S06,NaN,1.020207e+11,102050100110,NaN,...,WIN-COP36UURNHE,10102,2021-11-08 22:12:00,103.113.172.166,NaN,NaN,NaT,NaN,BREEZE,10020003
17569,SALE,2021-11-08,2021,1248,7273.0,S06,NaN,1.020202e+11,102050100107,NaN,...,WIN-COP36UURNHE,10102,2021-11-08 22:13:00,103.113.172.166,NaN,NaN,NaT,NaN,NATUREL LIFE,10020017
17570,SALE,2021-11-08,2021,1248,7273.0,S06,NaN,1.020202e+11,102050100107,NaN,...,WIN-COP36UURNHE,10102,2021-11-08 22:13:00,103.113.172.166,NaN,NaN,NaT,NaN,JASMINE (2),10020039

In [4]:
data=data.drop(['UpdatePC','UpdateUserID','UpdateTime','UpdateIP','UserPc','InTime'],axis='columns')
data

,TransType,TransDate,Year,TransNO,InvRefNo,StoreFr,StoreTo,PSID,LCID,LCDate,...,TransSl,ItemName,Unit,Qty,Rate,Amount,UserId,IP,ItemID,ItemID.1
0,BUY,2018-08-31,2018,1,NaN,NaN,S01,NaN,102050100001,1.0,...,1,1PLY RASCHEL BLANKET,CARTON,2013,1700.0,3422100.0,10101,70.32.29.156,SULTAN,10010001
1,BUY,2018-08-31,2018,1,NaN,NaN,S01,NaN,102050100001,1.0,...,10,1PLY RASCHEL BLANKET,CARTON,64,1940.0,124160.0,10101,70.32.29.156,TAMILON,10010012
2,BUY,2018-08-31,2018,1,NaN,NaN,S01,NaN,102050100001,1.0,...,11,1PLY RASCHEL BLANKET,CARTON,20,1732.0,34640.0,10101,162.249.5.171,OLYMPIA GOLD,10010014
3,BUY,2018-08-31,2018,1,NaN,NaN,S01,NaN,102050100001,1.0,...,12,1PLY RASCHEL BLANKET,CARTON,16,1936.0,30976.0,10101,162.249.5.171,PRESIDENT,10010015
4,BUY,2018-08-31,2018,1,NaN,NaN,S01,NaN,102050100001,1.0,...,13,1PLY RASCHEL BLANKET,CARTON,35,2350.0,82250.0,10101,162.249.5.171,EMIRATES,10010032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17566,SALE,2021-11-08,2021,1247,7272.0,S06,NaN,1.020207e+11,102050100107,NaN,...,1,2PLY WEFT BLANKET,CARTON,24,2270.0,54480.0,10102,103.113.172.166,JASMINE (2),10020039
17567,SALE,2021-11-08,2021,1247,7272.0,S06,NaN,1.020207e+11,102050100107,NaN,...,2,2PLY WEFT BLANKET,CARTON,28,2550.0,71400.0,10102,103.113.172.166,NATUREL LIFE,10020017
17568,SALE,2021-11-08,2021,1247,7272.0,S06,NaN,1.020207e+11,102050100110,NaN,...,3,2PLY RASCHEL BLANKET,CARTON,18,3200.0,57600.0,10102,103.113.172.166,BREEZE,10020003
17569,SALE,2021-11-08,2021,1248,7273.0,S06,NaN,1.020202e+11,102050100107,NaN,...,1,2PLY WEFT BLANKET,CARTON,21,2550.0,53550.0,10102,103.113.172.166,NATUREL LIFE,10020017
17570,SALE,2021-11-08,2021,1248,7273.0,S06,NaN,1.020202e+11,102050100107,NaN,...,2,2PLY WEFT BLANKET,CARTON,24,2250.0,54000.0,10102,103.113.172.166,JASMINE (2),10020039

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17571 entries, 0 to 17570
Data columns (total 21 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TransType  17571 non-null  object
 1   TransDate  17571 non-null  datetime64[ns]
 2   Year       17571 non-null  int64
 3   TransNO    17571 non-null  int64
 4   InvRefNo   17069 non-null  float64
 5   StoreFr    17069 non-null  object
 6   StoreTo    502 non-null    object
 7   PSID       17069 non-null  float64
 8   LCID       17571 non-null  int64
 9   LCDate     502 non-null    float64
 10  Remarks    188 non-null    object
 11  TransSl    17571 non-null  int64
 12  ItemName   17571 non-null  object
 13  Unit       17571 non-null  object
 14  Qty        17571 non-null  int64
 15  Rate       17571 non-null  float64
 16  Amount     17571 non-null  float64
 17  UserId     17571 non-null  int64
 18  IP         17571 non-null  object
 19  ItemID     17571 non-null  object
 20  ItemID.1   17571 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(7), object(8)
memory usage: 2.8+ MB

In [6]:
data

,TransType,TransDate,Year,TransNO,InvRefNo,StoreFr,StoreTo,PSID,LCID,LCDate,...,TransSl,ItemName,Unit,Qty,Rate,Amount,UserId,IP,ItemID,ItemID.1
0,BUY,2018-08-31,2018,1,NaN,NaN,S01,NaN,102050100001,1.0,...,1,1PLY RASCHEL BLANKET,CARTON,2013,1700.0,3422100.0,10101,70.32.29.156,SULTAN,10010001
1,BUY,2018-08-31,2018,1,NaN,NaN,S01,NaN,102050100001,1.0,...,10,1PLY RASCHEL BLANKET,CARTON,64,1940.0,124160.0,10101,70.32.29.156,TAMILON,10010012
2,BUY,2018-08-31,2018,1,NaN,NaN,S01,NaN,102050100001,1.0,...,11,1PLY RASCHEL BLANKET,CARTON,20,1732.0,34640.0,10101,162.249.5.171,OLYMPIA GOLD,10010014
3,BUY,2018-08-31,2018,1,NaN,NaN,S01,NaN,102050100001,1.0,...,12,1PLY RASCHEL BLANKET,CARTON,16,1936.0,30976.0,10101,162.249.5.171,PRESIDENT,10010015
4,BUY,2018-08-31,2018,1,NaN,NaN,S01,NaN,102050100001,1.0,...,13,1PLY RASCHEL BLANKET,CARTON,35,2350.0,82250.0,10101,162.249.5.171,EMIRATES,10010032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17566,SALE,2021-11-08,2021,1247,7272.0,S06,NaN,1.020207e+11,102050100107,NaN,...,1,2PLY WEFT BLANKET,CARTON,24,2270.0,54480.0,10102,103.113.172.166,JASMINE (2),10020039
17567,SALE,2021-11-08,2021,1247,7272.0,S06,NaN,1.020207e+11,102050100107,NaN,...,2,2PLY WEFT BLANKET,CARTON,28,2550.0,71400.0,10102,103.113.172.166,NATUREL LIFE,10020017
17568,SALE,2021-11-08,2021,1247,7272.0,S06,NaN,1.020207e+11,102050100110,NaN,...,3,2PLY RASCHEL BLANKET,CARTON,18,3200.0,57600.0,10102,103.113.172.166,BREEZE,10020003
17569,SALE,2021-11-08,2021,1248,7273.0,S06,NaN,1.020202e+11,102050100107,NaN,...,1,2PLY WEFT BLANKET,CARTON,21,2550.0,53550.0,10102,103.113.172.166,NATUREL LIFE,10020017
17570,SALE,2021-11-08,2021,1248,7273.0,S06,NaN,1.020202e+11,102050100107,NaN,...,2,2PLY WEFT BLANKET,CARTON,24,2250.0,54000.0,10102,103.113.172.166,JASMINE (2),10020039

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17571 entries, 0 to 17570
Data columns (total 21 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TransType  17571 non-null  object
 1   TransDate  17571 non-null  datetime64[ns]
 2   Year       17571 non-null  int64
 3   TransNO    17571 non-null  int64
 4   InvRefNo   17069 non-null  float64
 5   StoreFr    17069 non-null  object
 6   StoreTo    502 non-null    object
 7   PSID       17069 non-null  float64
 8   LCID       17571 non-null  int64
 9   LCDate     502 non-null    float64
 10  Remarks    188 non-null    object
 11  TransSl    17571 non-null  int64
 12  ItemName   17571 non-null  object
 13  Unit       17571 non-null  object
 14  Qty        17571 non-null  int64
 15  Rate       17571 non-null  float64
 16  Amount     17571 non-null  float64
 17  UserId     17571 non-null  int64
 18  IP         17571 non-null  object
 19  ItemID     17571 non-null  object
 20  ItemID.1   17571 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(7), object(8)
memory usage: 2.8+ MB

In [8]:
data

,TransType,TransDate,Year,TransNO,InvRefNo,StoreFr,StoreTo,PSID,LCID,LCDate,...,TransSl,ItemName,Unit,Qty,Rate,Amount,UserId,IP,ItemID,ItemID.1
0,BUY,2018-08-31,2018,1,NaN,NaN,S01,NaN,102050100001,1.0,...,1,1PLY RASCHEL BLANKET,CARTON,2013,1700.0,3422100.0,10101,70.32.29.156,SULTAN,10010001
1,BUY,2018-08-31,2018,1,NaN,NaN,S01,NaN,102050100001,1.0,...,10,1PLY RASCHEL BLANKET,CARTON,64,1940.0,124160.0,10101,70.32.29.156,TAMILON,10010012
2,BUY,2018-08-31,2018,1,NaN,NaN,S01,NaN,102050100001,1.0,...,11,1PLY RASCHEL BLANKET,CARTON,20,1732.0,34640.0,10101,162.249.5.171,OLYMPIA GOLD,10010014
3,BUY,2018-08-31,2018,1,NaN,NaN,S01,NaN,102050100001,1.0,...,12,1PLY RASCHEL BLANKET,CARTON,16,1936.0,30976.0,10101,162.249.5.171,PRESIDENT,10010015
4,BUY,2018-08-31,2018,1,NaN,NaN,S01,NaN,102050100001,1.0,...,13,1PLY RASCHEL BLANKET,CARTON,35,2350.0,82250.0,10101,162.249.5.171,EMIRATES,10010032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17566,SALE,2021-11-08,2021,1247,7272.0,S06,NaN,1.020207e+11,102050100107,NaN,...,1,2PLY WEFT BLANKET,CARTON,24,2270.0,54480.0,10102,103.113.172.166,JASMINE (2),10020039
17567,SALE,2021-11-08,2021,1247,7272.0,S06,NaN,1.020207e+11,102050100107,NaN,...,2,2PLY WEFT BLANKET,CARTON,28,2550.0,71400.0,10102,103.113.172.166,NATUREL LIFE,10020017
17568,SALE,2021-11-08,2021,1247,7272.0,S06,NaN,1.020207e+11,102050100110,NaN,...,3,2PLY RASCHEL BLANKET,CARTON,18,3200.0,57600.0,10102,103.113.172.166,BREEZE,10020003
17569,SALE,2021-11-08,2021,1248,7273.0,S06,NaN,1.020202e+11,102050100107,NaN,...,1,2PLY WEFT BLANKET,CARTON,21,2550.0,53550.0,10102,103.113.172.166,NATUREL LIFE,10020017
17570,SALE,2021-11-08,2021,1248,7273.0,S06,NaN,1.020202e+11,102050100107,NaN,...,2,2PLY WEFT BLANKET,CARTON,24,2250.0,54000.0,10102,103.113.172.166,JASMINE (2),10020039

In [9]:
data=data.drop(['UserId','Unit','IP','PSID','LCID','LCDate','TransSl'],axis='columns')
data

,TransType,TransDate,Year,TransNO,InvRefNo,StoreFr,StoreTo,Remarks,ItemName,Qty,Rate,Amount,ItemID,ItemID.1
0,BUY,2018-08-31,2018,1,NaN,NaN,S01,OPENING STOCK,1PLY RASCHEL BLANKET,2013,1700.0,3422100.0,SULTAN,10010001
1,BUY,2018-08-31,2018,1,NaN,NaN,S01,OPENING STOCK,1PLY RASCHEL BLANKET,64,1940.0,124160.0,TAMILON,10010012
2,BUY,2018-08-31,2018,1,NaN,NaN,S01,OPENING STOCK,1PLY RASCHEL BLANKET,20,1732.0,34640.0,OLYMPIA GOLD,10010014
3,BUY,2018-08-31,2018,1,NaN,NaN,S01,OPENING STOCK,1PLY RASCHEL BLANKET,16,1936.0,30976.0,PRESIDENT,10010015
4,BUY,2018-08-31,2018,1,NaN,NaN,S01,OPENING STOCK,1PLY RASCHEL BLANKET,35,2350.0,82250.0,EMIRATES,10010032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17566,SALE,2021-11-08,2021,1247,7272.0,S06,NaN,NaN,2PLY WEFT BLANKET,24,2270.0,54480.0,JASMINE (2),10020039
17567,SALE,2021-11-08,2021,1247,7272.0,S06,NaN,NaN,2PLY WEFT BLANKET,28,2550.0,71400.0,NATUREL LIFE,10020017
17568,SALE,2021-11-08,2021,1247,7272.0,S06,NaN,NaN,2PLY RASCHEL BLANKET,18,3200.0,57600.0,BREEZE,10020003
17569,SALE,2021-11-08,2021,1248,7273.0,S06,NaN,NaN,2PLY WEFT BLANKET,21,2550.0,53550.0,NATUREL LIFE,10020017
17570,SALE,2021-11-08,2021,1248,7273.0,S06,NaN,NaN,2PLY WEFT BLANKET,24,2250.0,54000.0,JASMINE (2),10020039

In [10]:
buy=pd.read_excel("buy.xlsx")
buy

,TransType,TransDate,Year,TransNO,InvRefNo,StoreFr,StoreTo,PSID,LCID,LCDate,...,UserPc,UserId,InTime,IP,UpdatePC,UpdateUserID,UpdateTime,UpdateIP,Brand,ItemID
0,BUY,2018-08-31,2018,1,NaN,NaN,S01,NaN,102050100001,1,...,mi3-wtr1,10101,2018-09-16 16:41:00,70.32.29.156,WIN-COP36UURNHE,10101.0,2020-05-20 02:40:00,103.3.164.161,SULTAN,10010001
1,BUY,2018-08-31,2018,1,NaN,NaN,S01,NaN,102050100001,1,...,mi3-wtr1,10101,2018-10-31 19:43:00,70.32.29.156,mi3-wtr1,10101.0,2019-10-01 17:10:00,162.249.5.171,TAMILON,10010012
2,BUY,2018-08-31,2018,1,NaN,NaN,S01,NaN,102050100001,1,...,mi3-wtr1,10101,2019-01-17 14:36:00,162.249.5.171,NaN,NaN,NaT,NaN,OLYMPIA GOLD,10010014
3,BUY,2018-08-31,2018,1,NaN,NaN,S01,NaN,102050100001,1,...,mi3-wtr1,10101,2019-01-17 17:24:00,162.249.5.171,NaN,NaN,NaT,NaN,PRESIDENT,10010015
4,BUY,2018-08-31,2018,1,NaN,NaN,S01,NaN,102050100001,1,...,mi3-wtr1,10101,2019-09-05 15:24:00,162.249.5.171,NaN,NaN,NaT,NaN,EMIRATES,10010032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497,BUY,2021-11-01,2021,30,NaN,NaN,S06,NaN,102050100113,1,...,WIN-COP36UURNHE,10101,2021-11-02 20:10:00,103.113.172.166,NaN,NaN,NaT,NaN,SOLANRON,10010009
498,BUY,2021-11-01,2021,30,NaN,NaN,S06,NaN,102050100113,1,...,WIN-COP36UURNHE,10101,2021-11-02 20:14:00,103.113.172.166,NaN,NaN,NaT,NaN,KINGSTAR CLOUDY BABY0,10010050
499,BUY,2021-11-02,2021,31,NaN,NaN,S06,NaN,102050100116,1,...,243,10101,2021-11-02 21:33:00,27.147.243.138,NaN,NaN,NaT,NaN,PANDA,10020036
500,BUY,2021-11-02,2021,32,NaN,NaN,S06,NaN,102050100108,1,...,WIN-COP36UURNHE,10101,2021-11-03 21:43:00,103.113.172.166,NaN,NaN,NaT,NaN,BREEZE,10020003
501,BUY,2021-11-02,2021,32,NaN,NaN,S06,NaN,102050100108,1,...,WIN-COP36UURNHE,10101,2021-11-03 21:43:00,103.113.172.166,NaN,NaN,NaT,NaN,ESKIMO GOLD,10020012

In [11]:
buy=buy.drop(['UpdatePC','UpdateUserID','UpdateTime','UpdateIP','UserPc','InTime','UserId','Unit','IP','PSID','LCID','LCDate','TransSl','InvRefNo','StoreFr','Remarks'],axis='columns')
buy

,TransType,TransDate,Year,TransNO,StoreTo,ItemName,Qty,Rate,Amount,Brand,ItemID
0,BUY,2018-08-31,2018,1,S01,1PLY RASCHEL BLANKET,2013,1700.0,3422100.0,SULTAN,10010001
1,BUY,2018-08-31,2018,1,S01,1PLY RASCHEL BLANKET,64,1940.0,124160.0,TAMILON,10010012
2,BUY,2018-08-31,2018,1,S01,1PLY RASCHEL BLANKET,20,1732.0,34640.0,OLYMPIA GOLD,10010014
3,BUY,2018-08-31,2018,1,S01,1PLY RASCHEL BLANKET,16,1936.0,30976.0,PRESIDENT,10010015
4,BUY,2018-08-31,2018,1,S01,1PLY RASCHEL BLANKET,35,2350.0,82250.0,EMIRATES,10010032
...,...,...,...,...,...,...,...,...,...,...,...
497,BUY,2021-11-01,2021,30,S06,1PLY RASCHEL BLANKET,1440,3035.0,4370400.0,SOLANRON,10010009
498,BUY,2021-11-01,2021,30,S06,1PLY RASCHEL BLANKET,13846,460.0,6369160.0,KINGSTAR CLOUDY BABY0,10010050
499,BUY,2021-11-02,2021,31,S06,2PLY WEFT BLANKET,5038,1500.0,7557000.0,PANDA,10020036
500,BUY,2021-11-02,2021,32,S06,2PLY RASCHEL BLANKET,2694,2600.0,7004400.0,BREEZE,10020003
501,BUY,2021-11-02,2021,32,S06,2PLY RASCHEL BLANKET,88,4200.0,369600.0,ESKIMO GOLD,10020012

In [14]:
sale=pd.read_excel("SALE.xlsx")
sale

,TransType,TransDate,Year,TransNO,InvRefNo,StoreFr,StoreTo,PSID,LCID,LCDate,...,UserPc,UserId,InTime,IP,UpdatePC,UpdateUserID,UpdateTime,UpdateIP,Brand,ItemID
0,SALE,2018-09-03,2018,1,1624,S01,NaN,102020400004,102050100001,NaN,...,mi3-wtr1,10101,2018-09-17 21:07:00,70.32.29.156,NaN,NaN,NaT,NaN,JASMINE,10010004
1,SALE,2018-09-03,2018,1,1624,S01,NaN,102020400004,102050100001,NaN,...,mi3-wtr1,10101,2018-09-17 21:08:00,70.32.29.156,NaN,NaN,NaT,NaN,VICTORIYA,10010003
2,SALE,2018-09-03,2018,2,1625,S01,NaN,102020600007,102050100001,NaN,...,mi3-wtr1,10101,2018-09-17 21:09:00,70.32.29.156,NaN,NaN,NaT,NaN,SULTAN,10010001
3,SALE,2018-09-04,2018,3,1626,S01,NaN,102020300001,102050100003,NaN,...,mi3-wtr1,10101,2018-09-18 11:18:00,70.32.29.156,NaN,NaN,NaT,NaN,SOLANRON,10010009
4,SALE,2018-09-04,2018,3,1626,S01,NaN,102020300001,102050100001,NaN,...,mi3-wtr1,10101,2018-09-18 11:19:00,70.32.29.156,NaN,NaN,NaT,NaN,RIO,10010002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17064,SALE,2021-11-08,2021,1247,7272,S06,NaN,102020700088,102050100107,NaN,...,WIN-COP36UURNHE,10102,2021-11-08 22:12:00,103.113.172.166,NaN,NaN,NaT,NaN,JASMINE (2),10020039
17065,SALE,2021-11-08,2021,1247,7272,S06,NaN,102020700088,102050100107,NaN,...,WIN-COP36UURNHE,10102,2021-11-08 22:12:00,103.113.172.166,NaN,NaN,NaT,NaN,NATUREL LIFE,10020017
17066,SALE,2021-11-08,2021,1247,7272,S06,NaN,102020700088,102050100110,NaN,...,WIN-COP36UURNHE,10102,2021-11-08 22:12:00,103.113.172.166,NaN,NaN,NaT,NaN,BREEZE,10020003
17067,SALE,2021-11-08,2021,1248,7273,S06,NaN,102020200012,102050100107,NaN,...,WIN-COP36UURNHE,10102,2021-11-08 22:13:00,103.113.172.166,NaN,NaN,NaT,NaN,NATUREL LIFE,10020017
17068,SALE,2021-11-08,2021,1248,7273,S06,NaN,102020200012,102050100107,NaN,...,WIN-COP36UURNHE,10102,2021-11-08 22:13:00,103.113.172.166,NaN,NaN,NaT,NaN,JASMINE (2),10020039

In [16]:
sale=sale.drop(['UpdatePC','UpdateUserID','UpdateTime','UpdateIP','UserPc','InTime','UserId','Unit','IP','PSID','LCID','LCDate','TransSl','InvRefNo','StoreFr','Remarks','StoreTo'],axis='columns')
sale

,TransType,TransDate,Year,TransNO,ItemName,Qty,Rate,Amount,Brand,ItemID
0,SALE,2018-09-03,2018,1,1PLY RASCHEL BLANKET,50,1500,75000,JASMINE,10010004
1,SALE,2018-09-03,2018,1,1PLY RASCHEL BLANKET,60,1500,90000,VICTORIYA,10010003
2,SALE,2018-09-03,2018,2,1PLY RASCHEL BLANKET,20,1780,35600,SULTAN,10010001
3,SALE,2018-09-04,2018,3,1PLY RASCHEL BLANKET,60,3250,195000,SOLANRON,10010009
4,SALE,2018-09-04,2018,3,1PLY RASCHEL BLANKET,200,1780,356000,RIO,10010002
...,...,...,...,...,...,...,...,...,...,...
17064,SALE,2021-11-08,2021,1247,2PLY WEFT BLANKET,24,2270,54480,JASMINE (2),10020039
17065,SALE,2021-11-08,2021,1247,2PLY WEFT BLANKET,28,2550,71400,NATUREL LIFE,10020017
17066,SALE,2021-11-08,2021,1247,2PLY RASCHEL BLANKET,18,3200,57600,BREEZE,10020003
17067,SALE,2021-11-08,2021,1248,2PLY WEFT BLANKET,21,2550,53550,NATUREL LIFE,10020017
17068,SALE,2021-11-08,2021,1248,2PLY WEFT BLANKET,24,2250,54000,JASMINE (2),10020039

In [12]:
data['Amount'].max()

13336170.48

In [13]:
data.loc[data['Amount'] ==data['Amount'].max()]

,TransType,TransDate,Year,TransNO,InvRefNo,StoreFr,StoreTo,Remarks,ItemName,Qty,Rate,Amount,ItemID,ItemID.1
369,BUY,2020-02-16,2020,5,NaN,NaN,S06,NaN,1PLY RASCHEL BLANKET,7992,1668.69,13336170.48,KING POWER GOLD,10010048