In [1]:
import numpy as np
import pandas as pd
data= pd.read_excel('Patient_data.xlsx')

In [2]:
data.head()

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,MARITAL_STATUS,RELIGION,MOBILE,...,OTHERS,STOMACH_WASH,TRUCTION,I.V_CHARGE,STITCH,WARM_UP_CHARGE,OBSERVATION_CHARGE,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,FEMALE,25Y,MARRIED,ISLAM,NaN,...,0,0,0,400,0,0,0,0,23795.0,41515.0
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,FEMALE,NaN,MARRIED,ISLAM,01818279143,...,0,0,0,200,0,0,0,0,1370.0,1970.0
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,FEMALE,20Y,MARRIED,ISLAM,01825800705,...,0,0,0,200,0,0,0,0,21489.0,37389.0
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,FEMALE,18Y,MARRIED,ISLAM,NaN,...,0,0,0,200,0,0,0,0,21346.0,37266.0
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,FEMALE,24Y,MARRIED,ISLAM,NaN,...,0,0,0,200,0,0,0,0,22389.0,38709.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3042 entries, 0 to 3041
Data columns (total 42 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   PATIENTYY                  3042 non-null   int64
 1   PATIENTTP                  3042 non-null   object
 2   PATIENTID                  3042 non-null   int64
 3   PATIENT_NAME               3042 non-null   object
 4   GUARDIAN_NAME              3038 non-null   object
 5   GENDER                     3041 non-null   object
 6   AGE                        3000 non-null   object
 7   MARITAL_STATUS             3039 non-null   object
 8   RELIGION                   3040 non-null   object
 9   MOBILE                     2858 non-null   object
 10  REFERER_ID                 3042 non-null   object
 11  REFERER_NAME               3039 non-null   object
 12  DOCTOR_ID                  3041 non-null   object
 13  DOCTOR_NAME                3035 non-null   object
 14  DOCTOR_FEE                 3042 non-null   int64
 15  CABIN/BED_CHARGE           3042 non-null   int64
 16  CONSULTANT_FEE             3042 non-null   int64
 17  SURGEON/CONDUCTION_FEE     3042 non-null   int64
 18  ASSISTANCY_CHARGE          3042 non-null   int64
 19  ANAESTHESIA_CHARGE         3042 non-null   int64
 20  OT_CHARGE                  3042 non-null   int64
 21  INVESTIGATION              3042 non-null   int64
 22  RADIOLOGY_PORTABLE_CHARGE  3042 non-null   int64
 23  ULTRASONOGRAPHY            3042 non-null   int64
 24  ENDOSCOPY                  3042 non-null   int64
 25  OXYZEN                     3042 non-null   int64
 26  RYELS_TUBE_DOWN            3042 non-null   int64
 27  CATHETERIZATION            3042 non-null   int64
 28  NEBULIZATION               3042 non-null   int64
 29  BLOOD_TRANSFUSION          3042 non-null   int64
 30  INSTRUMENTATION            3042 non-null   int64
 31  AMBULANCE                  3042 non-null   int64
 32  OTHERS                     3042 non-null   int64
 33  STOMACH_WASH               3042 non-null   int64
 34  TRUCTION                   3042 non-null   int64
 35  I.V_CHARGE                 3042 non-null   int64
 36  STITCH                     3042 non-null   int64
 37  WARM_UP_CHARGE             3042 non-null   int64
 38  OBSERVATION_CHARGE         3042 non-null   int64
 39  PHOTO_THERAPHY             3042 non-null   int64
 40  OTHERS_CHARGES             3042 non-null   float64
 41  TOTAL_CHARGES              3042 non-null   float64
dtypes: float64(2), int64(28), object(12)
memory usage: 998.3+ KB

In [4]:
dummies=pd.get_dummies(data.MARITAL_STATUS)

In [5]:
dummies

      MARRIED  UNMARRIED
0           1          0
1           1          0
2           1          0
3           1          0
4           1          0
...       ...        ...
3037        0          1
3038        1          0
3039        0          1
3040        0          1
3041        0          1

[3042 rows x 2 columns]

In [6]:
marged=pd.concat([data,dummies], axis='columns')

In [7]:
marged

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,MARITAL_STATUS,RELIGION,MOBILE,...,TRUCTION,I.V_CHARGE,STITCH,WARM_UP_CHARGE,OBSERVATION_CHARGE,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,FEMALE,25Y,MARRIED,ISLAM,NaN,...,0,400,0,0,0,0,23795.0,41515.0,1,0
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,FEMALE,NaN,MARRIED,ISLAM,01818279143,...,0,200,0,0,0,0,1370.0,1970.0,1,0
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,FEMALE,20Y,MARRIED,ISLAM,01825800705,...,0,200,0,0,0,0,21489.0,37389.0,1,0
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,FEMALE,18Y,MARRIED,ISLAM,NaN,...,0,200,0,0,0,0,21346.0,37266.0,1,0
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,FEMALE,24Y,MARRIED,ISLAM,NaN,...,0,200,0,0,0,0,22389.0,38709.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,FEMALE,1 Y 6 M,UNMARRIED,ISLAM,01757493935,...,0,200,0,0,0,0,4665.0,7925.0,0,1
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,FEMALE,21 Y,MARRIED,ISLAM,01730784715,...,0,200,0,300,0,0,29883.0,52233.0,1,0
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,MALE,11 M,UNMARRIED,ISLAM,01817311842,...,0,200,0,0,0,0,8727.0,16027.0,0,1
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,MALE,3 M,UNMARRIED,ISLAM,01631585124,...,0,600,0,0,0,0,13516.0,23931.0,0,1
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,FEMALE,10 M,UNMARRIED,ISLAM,0176262564,...,0,200,0,0,0,0,2390.0,3790.0,0,1

In [8]:
data=marged.drop(['MARITAL_STATUS'],axis='columns')
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,TRUCTION,I.V_CHARGE,STITCH,WARM_UP_CHARGE,OBSERVATION_CHARGE,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,FEMALE,25Y,ISLAM,NaN,202010200381,...,0,400,0,0,0,0,23795.0,41515.0,1,0
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,FEMALE,NaN,ISLAM,01818279143,202010200381,...,0,200,0,0,0,0,1370.0,1970.0,1,0
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,FEMALE,20Y,ISLAM,01825800705,202010200381,...,0,200,0,0,0,0,21489.0,37389.0,1,0
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,FEMALE,18Y,ISLAM,NaN,202010200381,...,0,200,0,0,0,0,21346.0,37266.0,1,0
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,FEMALE,24Y,ISLAM,NaN,202010200381,...,0,200,0,0,0,0,22389.0,38709.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,FEMALE,1 Y 6 M,ISLAM,01757493935,202010200381,...,0,200,0,0,0,0,4665.0,7925.0,0,1
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,FEMALE,21 Y,ISLAM,01730784715,202010200381,...,0,200,0,300,0,0,29883.0,52233.0,1,0
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,MALE,11 M,ISLAM,01817311842,202010200388,...,0,200,0,0,0,0,8727.0,16027.0,0,1
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,MALE,3 M,ISLAM,01631585124,202010200051,...,0,600,0,0,0,0,13516.0,23931.0,0,1
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,FEMALE,10 M,ISLAM,0176262564,202010200381,...,0,200,0,0,0,0,2390.0,3790.0,0,1

In [9]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [10]:
df=data
df.GENDER=le.fit_transform(df.GENDER)

In [11]:
data=df

In [12]:
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,TRUCTION,I.V_CHARGE,STITCH,WARM_UP_CHARGE,OBSERVATION_CHARGE,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,ISLAM,NaN,202010200381,...,0,400,0,0,0,0,23795.0,41515.0,1,0
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,NaN,ISLAM,01818279143,202010200381,...,0,200,0,0,0,0,1370.0,1970.0,1,0
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,ISLAM,01825800705,202010200381,...,0,200,0,0,0,0,21489.0,37389.0,1,0
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,ISLAM,NaN,202010200381,...,0,200,0,0,0,0,21346.0,37266.0,1,0
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,ISLAM,NaN,202010200381,...,0,200,0,0,0,0,22389.0,38709.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,ISLAM,01757493935,202010200381,...,0,200,0,0,0,0,4665.0,7925.0,0,1
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,ISLAM,01730784715,202010200381,...,0,200,0,300,0,0,29883.0,52233.0,1,0
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,ISLAM,01817311842,202010200388,...,0,200,0,0,0,0,8727.0,16027.0,0,1
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,ISLAM,01631585124,202010200051,...,0,600,0,0,0,0,13516.0,23931.0,0,1
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,ISLAM,0176262564,202010200381,...,0,200,0,0,0,0,2390.0,3790.0,0,1

In [13]:
data['RELIGION'].unique()

array(['ISLAM', 'HINDU', 'BUDDHISM', nan], dtype=object)

In [14]:
data.RELIGION=le.fit_transform(data.RELIGION)
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,TRUCTION,I.V_CHARGE,STITCH,WARM_UP_CHARGE,OBSERVATION_CHARGE,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,2,NaN,202010200381,...,0,400,0,0,0,0,23795.0,41515.0,1,0
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,NaN,2,01818279143,202010200381,...,0,200,0,0,0,0,1370.0,1970.0,1,0
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,2,01825800705,202010200381,...,0,200,0,0,0,0,21489.0,37389.0,1,0
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,2,NaN,202010200381,...,0,200,0,0,0,0,21346.0,37266.0,1,0
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,2,NaN,202010200381,...,0,200,0,0,0,0,22389.0,38709.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,2,01757493935,202010200381,...,0,200,0,0,0,0,4665.0,7925.0,0,1
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,2,01730784715,202010200381,...,0,200,0,300,0,0,29883.0,52233.0,1,0
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,2,01817311842,202010200388,...,0,200,0,0,0,0,8727.0,16027.0,0,1
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,2,01631585124,202010200051,...,0,600,0,0,0,0,13516.0,23931.0,0,1
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,2,0176262564,202010200381,...,0,200,0,0,0,0,2390.0,3790.0,0,1

In [15]:
data.REFERER_NAME=le.fit_transform(data.REFERER_NAME)
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,TRUCTION,I.V_CHARGE,STITCH,WARM_UP_CHARGE,OBSERVATION_CHARGE,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,2,NaN,202010200381,...,0,400,0,0,0,0,23795.0,41515.0,1,0
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,NaN,2,01818279143,202010200381,...,0,200,0,0,0,0,1370.0,1970.0,1,0
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,2,01825800705,202010200381,...,0,200,0,0,0,0,21489.0,37389.0,1,0
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,2,NaN,202010200381,...,0,200,0,0,0,0,21346.0,37266.0,1,0
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,2,NaN,202010200381,...,0,200,0,0,0,0,22389.0,38709.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,2,01757493935,202010200381,...,0,200,0,0,0,0,4665.0,7925.0,0,1
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,2,01730784715,202010200381,...,0,200,0,300,0,0,29883.0,52233.0,1,0
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,2,01817311842,202010200388,...,0,200,0,0,0,0,8727.0,16027.0,0,1
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,2,01631585124,202010200051,...,0,600,0,0,0,0,13516.0,23931.0,0,1
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,2,0176262564,202010200381,...,0,200,0,0,0,0,2390.0,3790.0,0,1

In [16]:
data.REFERER_ID	=le.fit_transform(data.REFERER_ID)
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,TRUCTION,I.V_CHARGE,STITCH,WARM_UP_CHARGE,OBSERVATION_CHARGE,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,2,NaN,56,...,0,400,0,0,0,0,23795.0,41515.0,1,0
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,NaN,2,01818279143,56,...,0,200,0,0,0,0,1370.0,1970.0,1,0
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,2,01825800705,56,...,0,200,0,0,0,0,21489.0,37389.0,1,0
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,2,NaN,56,...,0,200,0,0,0,0,21346.0,37266.0,1,0
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,2,NaN,56,...,0,200,0,0,0,0,22389.0,38709.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,2,01757493935,56,...,0,200,0,0,0,0,4665.0,7925.0,0,1
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,2,01730784715,56,...,0,200,0,300,0,0,29883.0,52233.0,1,0
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,2,01817311842,61,...,0,200,0,0,0,0,8727.0,16027.0,0,1
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,2,01631585124,18,...,0,600,0,0,0,0,13516.0,23931.0,0,1
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,2,0176262564,56,...,0,200,0,0,0,0,2390.0,3790.0,0,1

In [17]:
data.DOCTOR_ID	=le.fit_transform(data.DOCTOR_ID)
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,TRUCTION,I.V_CHARGE,STITCH,WARM_UP_CHARGE,OBSERVATION_CHARGE,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,2,NaN,56,...,0,400,0,0,0,0,23795.0,41515.0,1,0
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,NaN,2,01818279143,56,...,0,200,0,0,0,0,1370.0,1970.0,1,0
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,2,01825800705,56,...,0,200,0,0,0,0,21489.0,37389.0,1,0
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,2,NaN,56,...,0,200,0,0,0,0,21346.0,37266.0,1,0
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,2,NaN,56,...,0,200,0,0,0,0,22389.0,38709.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,2,01757493935,56,...,0,200,0,0,0,0,4665.0,7925.0,0,1
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,2,01730784715,56,...,0,200,0,300,0,0,29883.0,52233.0,1,0
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,2,01817311842,61,...,0,200,0,0,0,0,8727.0,16027.0,0,1
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,2,01631585124,18,...,0,600,0,0,0,0,13516.0,23931.0,0,1
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,2,0176262564,56,...,0,200,0,0,0,0,2390.0,3790.0,0,1

In [18]:
data['AGE']=data['AGE'].fillna(0)

In [19]:
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,TRUCTION,I.V_CHARGE,STITCH,WARM_UP_CHARGE,OBSERVATION_CHARGE,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,2,NaN,56,...,0,400,0,0,0,0,23795.0,41515.0,1,0
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,0,2,01818279143,56,...,0,200,0,0,0,0,1370.0,1970.0,1,0
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,2,01825800705,56,...,0,200,0,0,0,0,21489.0,37389.0,1,0
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,2,NaN,56,...,0,200,0,0,0,0,21346.0,37266.0,1,0
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,2,NaN,56,...,0,200,0,0,0,0,22389.0,38709.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,2,01757493935,56,...,0,200,0,0,0,0,4665.0,7925.0,0,1
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,2,01730784715,56,...,0,200,0,300,0,0,29883.0,52233.0,1,0
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,2,01817311842,61,...,0,200,0,0,0,0,8727.0,16027.0,0,1
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,2,01631585124,18,...,0,600,0,0,0,0,13516.0,23931.0,0,1
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,2,0176262564,56,...,0,200,0,0,0,0,2390.0,3790.0,0,1

In [20]:
data["Year"]=data['AGE'].str.extract(pat='(...Y)')
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,I.V_CHARGE,STITCH,WARM_UP_CHARGE,OBSERVATION_CHARGE,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED,Year
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,2,NaN,56,...,400,0,0,0,0,23795.0,41515.0,1,0,NaN
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,0,2,01818279143,56,...,200,0,0,0,0,1370.0,1970.0,1,0,NaN
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,2,01825800705,56,...,200,0,0,0,0,21489.0,37389.0,1,0,NaN
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,2,NaN,56,...,200,0,0,0,0,21346.0,37266.0,1,0,NaN
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,2,NaN,56,...,200,0,0,0,0,22389.0,38709.0,1,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,2,01757493935,56,...,200,0,0,0,0,4665.0,7925.0,0,1,NaN
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,2,01730784715,56,...,200,0,300,0,0,29883.0,52233.0,1,0,21 Y
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,2,01817311842,61,...,200,0,0,0,0,8727.0,16027.0,0,1,NaN
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,2,01631585124,18,...,600,0,0,0,0,13516.0,23931.0,0,1,NaN
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,2,0176262564,56,...,200,0,0,0,0,2390.0,3790.0,0,1,NaN

In [21]:
data["Year1"]=data['AGE'].str.extract(pat='(..Y)')
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,STITCH,WARM_UP_CHARGE,OBSERVATION_CHARGE,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED,Year,Year1
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,2,NaN,56,...,0,0,0,0,23795.0,41515.0,1,0,NaN,25Y
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,0,2,01818279143,56,...,0,0,0,0,1370.0,1970.0,1,0,NaN,NaN
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,2,01825800705,56,...,0,0,0,0,21489.0,37389.0,1,0,NaN,20Y
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,2,NaN,56,...,0,0,0,0,21346.0,37266.0,1,0,NaN,18Y
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,2,NaN,56,...,0,0,0,0,22389.0,38709.0,1,0,NaN,24Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,2,01757493935,56,...,0,0,0,0,4665.0,7925.0,0,1,NaN,1 Y
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,2,01730784715,56,...,0,300,0,0,29883.0,52233.0,1,0,21 Y,1 Y
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,2,01817311842,61,...,0,0,0,0,8727.0,16027.0,0,1,NaN,NaN
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,2,01631585124,18,...,0,0,0,0,13516.0,23931.0,0,1,NaN,NaN
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,2,0176262564,56,...,0,0,0,0,2390.0,3790.0,0,1,NaN,NaN

In [22]:
data["Month1"]=data['AGE'].str.extract(pat='(.. M)')
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,WARM_UP_CHARGE,OBSERVATION_CHARGE,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED,Year,Year1,Month1
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,2,NaN,56,...,0,0,0,23795.0,41515.0,1,0,NaN,25Y,NaN
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,0,2,01818279143,56,...,0,0,0,1370.0,1970.0,1,0,NaN,NaN,NaN
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,2,01825800705,56,...,0,0,0,21489.0,37389.0,1,0,NaN,20Y,NaN
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,2,NaN,56,...,0,0,0,21346.0,37266.0,1,0,NaN,18Y,NaN
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,2,NaN,56,...,0,0,0,22389.0,38709.0,1,0,NaN,24Y,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,2,01757493935,56,...,0,0,0,4665.0,7925.0,0,1,NaN,1 Y,6 M
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,2,01730784715,56,...,300,0,0,29883.0,52233.0,1,0,21 Y,1 Y,NaN
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,2,01817311842,61,...,0,0,0,8727.0,16027.0,0,1,NaN,NaN,11 M
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,2,01631585124,18,...,0,0,0,13516.0,23931.0,0,1,NaN,NaN,3 M
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,2,0176262564,56,...,0,0,0,2390.0,3790.0,0,1,NaN,NaN,10 M

In [23]:
data["Days"]=data['AGE'].str.extract(pat='(..D)')
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,OBSERVATION_CHARGE,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED,Year,Year1,Month1,Days
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,2,NaN,56,...,0,0,23795.0,41515.0,1,0,NaN,25Y,NaN,NaN
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,0,2,01818279143,56,...,0,0,1370.0,1970.0,1,0,NaN,NaN,NaN,NaN
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,2,01825800705,56,...,0,0,21489.0,37389.0,1,0,NaN,20Y,NaN,NaN
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,2,NaN,56,...,0,0,21346.0,37266.0,1,0,NaN,18Y,NaN,NaN
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,2,NaN,56,...,0,0,22389.0,38709.0,1,0,NaN,24Y,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,2,01757493935,56,...,0,0,4665.0,7925.0,0,1,NaN,1 Y,6 M,NaN
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,2,01730784715,56,...,0,0,29883.0,52233.0,1,0,21 Y,1 Y,NaN,NaN
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,2,01817311842,61,...,0,0,8727.0,16027.0,0,1,NaN,NaN,11 M,NaN
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,2,01631585124,18,...,0,0,13516.0,23931.0,0,1,NaN,NaN,3 M,NaN
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,2,0176262564,56,...,0,0,2390.0,3790.0,0,1,NaN,NaN,10 M,NaN

In [24]:
data[["Year","new"]]=data['Year'].str.split("Y", expand=True)
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED,Year,Year1,Month1,Days,new
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,2,NaN,56,...,0,23795.0,41515.0,1,0,NaN,25Y,NaN,NaN,NaN
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,0,2,01818279143,56,...,0,1370.0,1970.0,1,0,NaN,NaN,NaN,NaN,NaN
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,2,01825800705,56,...,0,21489.0,37389.0,1,0,NaN,20Y,NaN,NaN,NaN
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,2,NaN,56,...,0,21346.0,37266.0,1,0,NaN,18Y,NaN,NaN,NaN
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,2,NaN,56,...,0,22389.0,38709.0,1,0,NaN,24Y,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,2,01757493935,56,...,0,4665.0,7925.0,0,1,NaN,1 Y,6 M,NaN,NaN
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,2,01730784715,56,...,0,29883.0,52233.0,1,0,21,1 Y,NaN,NaN,
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,2,01817311842,61,...,0,8727.0,16027.0,0,1,NaN,NaN,11 M,NaN,NaN
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,2,01631585124,18,...,0,13516.0,23931.0,0,1,NaN,NaN,3 M,NaN,NaN
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,2,0176262564,56,...,0,2390.0,3790.0,0,1,NaN,NaN,10 M,NaN,NaN

In [25]:
data[["Year1","new"]]=data['Year1'].str.split("Y", expand=True)
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED,Year,Year1,Month1,Days,new
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,2,NaN,56,...,0,23795.0,41515.0,1,0,NaN,25,NaN,NaN,
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,0,2,01818279143,56,...,0,1370.0,1970.0,1,0,NaN,NaN,NaN,NaN,NaN
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,2,01825800705,56,...,0,21489.0,37389.0,1,0,NaN,20,NaN,NaN,
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,2,NaN,56,...,0,21346.0,37266.0,1,0,NaN,18,NaN,NaN,
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,2,NaN,56,...,0,22389.0,38709.0,1,0,NaN,24,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,2,01757493935,56,...,0,4665.0,7925.0,0,1,NaN,1,6 M,NaN,
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,2,01730784715,56,...,0,29883.0,52233.0,1,0,21,1,NaN,NaN,
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,2,01817311842,61,...,0,8727.0,16027.0,0,1,NaN,NaN,11 M,NaN,NaN
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,2,01631585124,18,...,0,13516.0,23931.0,0,1,NaN,NaN,3 M,NaN,NaN
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,2,0176262564,56,...,0,2390.0,3790.0,0,1,NaN,NaN,10 M,NaN,NaN

In [26]:
data[["Month1","new"]]=data['Month1'].str.split("M", expand=True)
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED,Year,Year1,Month1,Days,new
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,2,NaN,56,...,0,23795.0,41515.0,1,0,NaN,25,NaN,NaN,NaN
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,0,2,01818279143,56,...,0,1370.0,1970.0,1,0,NaN,NaN,NaN,NaN,NaN
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,2,01825800705,56,...,0,21489.0,37389.0,1,0,NaN,20,NaN,NaN,NaN
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,2,NaN,56,...,0,21346.0,37266.0,1,0,NaN,18,NaN,NaN,NaN
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,2,NaN,56,...,0,22389.0,38709.0,1,0,NaN,24,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,2,01757493935,56,...,0,4665.0,7925.0,0,1,NaN,1,6,NaN,
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,2,01730784715,56,...,0,29883.0,52233.0,1,0,21,1,NaN,NaN,NaN
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,2,01817311842,61,...,0,8727.0,16027.0,0,1,NaN,NaN,11,NaN,
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,2,01631585124,18,...,0,13516.0,23931.0,0,1,NaN,NaN,3,NaN,
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,2,0176262564,56,...,0,2390.0,3790.0,0,1,NaN,NaN,10,NaN,

In [27]:
data["Days"]=data['AGE'].str.extract(pat='(..D)')
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED,Year,Year1,Month1,Days,new
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,2,NaN,56,...,0,23795.0,41515.0,1,0,NaN,25,NaN,NaN,NaN
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,0,2,01818279143,56,...,0,1370.0,1970.0,1,0,NaN,NaN,NaN,NaN,NaN
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,2,01825800705,56,...,0,21489.0,37389.0,1,0,NaN,20,NaN,NaN,NaN
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,2,NaN,56,...,0,21346.0,37266.0,1,0,NaN,18,NaN,NaN,NaN
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,2,NaN,56,...,0,22389.0,38709.0,1,0,NaN,24,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,2,01757493935,56,...,0,4665.0,7925.0,0,1,NaN,1,6,NaN,
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,2,01730784715,56,...,0,29883.0,52233.0,1,0,21,1,NaN,NaN,NaN
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,2,01817311842,61,...,0,8727.0,16027.0,0,1,NaN,NaN,11,NaN,
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,2,01631585124,18,...,0,13516.0,23931.0,0,1,NaN,NaN,3,NaN,
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,2,0176262564,56,...,0,2390.0,3790.0,0,1,NaN,NaN,10,NaN,

In [28]:
data[["Days","new"]]=data['Days'].str.split("D", expand=True)
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED,Year,Year1,Month1,Days,new
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,2,NaN,56,...,0,23795.0,41515.0,1,0,NaN,25,NaN,NaN,NaN
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,0,2,01818279143,56,...,0,1370.0,1970.0,1,0,NaN,NaN,NaN,NaN,NaN
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,2,01825800705,56,...,0,21489.0,37389.0,1,0,NaN,20,NaN,NaN,NaN
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,2,NaN,56,...,0,21346.0,37266.0,1,0,NaN,18,NaN,NaN,NaN
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,2,NaN,56,...,0,22389.0,38709.0,1,0,NaN,24,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,2,01757493935,56,...,0,4665.0,7925.0,0,1,NaN,1,6,NaN,NaN
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,2,01730784715,56,...,0,29883.0,52233.0,1,0,21,1,NaN,NaN,NaN
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,2,01817311842,61,...,0,8727.0,16027.0,0,1,NaN,NaN,11,NaN,NaN
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,2,01631585124,18,...,0,13516.0,23931.0,0,1,NaN,NaN,3,NaN,NaN
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,2,0176262564,56,...,0,2390.0,3790.0,0,1,NaN,NaN,10,NaN,NaN

In [29]:
data['Month1'] = data['Month1'].replace(np.nan, 0)
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED,Year,Year1,Month1,Days,new
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,2,NaN,56,...,0,23795.0,41515.0,1,0,NaN,25,0,NaN,NaN
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,0,2,01818279143,56,...,0,1370.0,1970.0,1,0,NaN,NaN,0,NaN,NaN
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,2,01825800705,56,...,0,21489.0,37389.0,1,0,NaN,20,0,NaN,NaN
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,2,NaN,56,...,0,21346.0,37266.0,1,0,NaN,18,0,NaN,NaN
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,2,NaN,56,...,0,22389.0,38709.0,1,0,NaN,24,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,2,01757493935,56,...,0,4665.0,7925.0,0,1,NaN,1,6,NaN,NaN
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,2,01730784715,56,...,0,29883.0,52233.0,1,0,21,1,0,NaN,NaN
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,2,01817311842,61,...,0,8727.0,16027.0,0,1,NaN,NaN,11,NaN,NaN
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,2,01631585124,18,...,0,13516.0,23931.0,0,1,NaN,NaN,3,NaN,NaN
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,2,0176262564,56,...,0,2390.0,3790.0,0,1,NaN,NaN,10,NaN,NaN

In [30]:
data['Days'] = data['Days'].replace(np.nan, 0)
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED,Year,Year1,Month1,Days,new
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,2,NaN,56,...,0,23795.0,41515.0,1,0,NaN,25,0,0,NaN
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,0,2,01818279143,56,...,0,1370.0,1970.0,1,0,NaN,NaN,0,0,NaN
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,2,01825800705,56,...,0,21489.0,37389.0,1,0,NaN,20,0,0,NaN
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,2,NaN,56,...,0,21346.0,37266.0,1,0,NaN,18,0,0,NaN
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,2,NaN,56,...,0,22389.0,38709.0,1,0,NaN,24,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,2,01757493935,56,...,0,4665.0,7925.0,0,1,NaN,1,6,0,NaN
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,2,01730784715,56,...,0,29883.0,52233.0,1,0,21,1,0,0,NaN
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,2,01817311842,61,...,0,8727.0,16027.0,0,1,NaN,NaN,11,0,NaN
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,2,01631585124,18,...,0,13516.0,23931.0,0,1,NaN,NaN,3,0,NaN
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,2,0176262564,56,...,0,2390.0,3790.0,0,1,NaN,NaN,10,0,NaN

In [31]:
data['Year1'] = data['Year1'].replace(np.nan, 0)

In [32]:
data['Year'] = data['Year'].replace(np.nan, 0)
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED,Year,Year1,Month1,Days,new
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,2,NaN,56,...,0,23795.0,41515.0,1,0,0,25,0,0,NaN
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,0,2,01818279143,56,...,0,1370.0,1970.0,1,0,0,0,0,0,NaN
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,2,01825800705,56,...,0,21489.0,37389.0,1,0,0,20,0,0,NaN
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,2,NaN,56,...,0,21346.0,37266.0,1,0,0,18,0,0,NaN
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,2,NaN,56,...,0,22389.0,38709.0,1,0,0,24,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,2,01757493935,56,...,0,4665.0,7925.0,0,1,0,1,6,0,NaN
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,2,01730784715,56,...,0,29883.0,52233.0,1,0,21,1,0,0,NaN
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,2,01817311842,61,...,0,8727.0,16027.0,0,1,0,0,11,0,NaN
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,2,01631585124,18,...,0,13516.0,23931.0,0,1,0,0,3,0,NaN
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,2,0176262564,56,...,0,2390.0,3790.0,0,1,0,0,10,0,NaN

In [33]:
data=data.drop(['new'], axis='columns')
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,OBSERVATION_CHARGE,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED,Year,Year1,Month1,Days
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,2,NaN,56,...,0,0,23795.0,41515.0,1,0,0,25,0,0
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,0,2,01818279143,56,...,0,0,1370.0,1970.0,1,0,0,0,0,0
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,2,01825800705,56,...,0,0,21489.0,37389.0,1,0,0,20,0,0
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,2,NaN,56,...,0,0,21346.0,37266.0,1,0,0,18,0,0
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,2,NaN,56,...,0,0,22389.0,38709.0,1,0,0,24,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,2,01757493935,56,...,0,0,4665.0,7925.0,0,1,0,1,6,0
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,2,01730784715,56,...,0,0,29883.0,52233.0,1,0,21,1,0,0
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,2,01817311842,61,...,0,0,8727.0,16027.0,0,1,0,0,11,0
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,2,01631585124,18,...,0,0,13516.0,23931.0,0,1,0,0,3,0
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,2,0176262564,56,...,0,0,2390.0,3790.0,0,1,0,0,10,0

In [34]:
data.dtypes

PATIENTYY                      int64
PATIENTTP                     object
PATIENTID                      int64
PATIENT_NAME                  object
GUARDIAN_NAME                 object
GENDER                         int32
AGE                           object
RELIGION                       int32
MOBILE                        object
REFERER_ID                     int32
REFERER_NAME                   int32
DOCTOR_ID                      int32
DOCTOR_NAME                   object
DOCTOR_FEE                     int64
CABIN/BED_CHARGE               int64
CONSULTANT_FEE                 int64
SURGEON/CONDUCTION_FEE         int64
ASSISTANCY_CHARGE              int64
ANAESTHESIA_CHARGE             int64
OT_CHARGE                      int64
INVESTIGATION                  int64
RADIOLOGY_PORTABLE_CHARGE      int64
ULTRASONOGRAPHY                int64
ENDOSCOPY                      int64
OXYZEN                         int64
RYELS_TUBE_DOWN                int64
CATHETERIZATION                int64
NEBULIZATION                   int64
BLOOD_TRANSFUSION              int64
INSTRUMENTATION                int64
AMBULANCE                      int64
OTHERS                         int64
STOMACH_WASH                   int64
TRUCTION                       int64
I.V_CHARGE                     int64
STITCH                         int64
WARM_UP_CHARGE                 int64
OBSERVATION_CHARGE             int64
PHOTO_THERAPHY                 int64
OTHERS_CHARGES               float64
TOTAL_CHARGES                float64
MARRIED                        uint8
UNMARRIED                      uint8
Year                          object
Year1                         object
Month1                        object
Days                          object
dtype: object

In [35]:
data["Year"] = data["Year"].str.replace(' ', '')
data['Year'] = data['Year'].replace(" ", '')
data['Year'] = data['Year'].replace("  ", '')

In [36]:
data[["Year","new"]]=data['Year'].str.split("D", expand=True)
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED,Year,Year1,Month1,Days,new
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,2,NaN,56,...,0,23795.0,41515.0,1,0,NaN,25,0,0,NaN
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,0,2,01818279143,56,...,0,1370.0,1970.0,1,0,NaN,0,0,0,NaN
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,2,01825800705,56,...,0,21489.0,37389.0,1,0,NaN,20,0,0,NaN
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,2,NaN,56,...,0,21346.0,37266.0,1,0,NaN,18,0,0,NaN
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,2,NaN,56,...,0,22389.0,38709.0,1,0,NaN,24,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,2,01757493935,56,...,0,4665.0,7925.0,0,1,NaN,1,6,0,NaN
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,2,01730784715,56,...,0,29883.0,52233.0,1,0,21,1,0,0,NaN
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,2,01817311842,61,...,0,8727.0,16027.0,0,1,NaN,0,11,0,NaN
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,2,01631585124,18,...,0,13516.0,23931.0,0,1,NaN,0,3,0,NaN
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,2,0176262564,56,...,0,2390.0,3790.0,0,1,NaN,0,10,0,NaN

In [37]:
data["Year"] = pd.to_numeric(data["Year"])
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED,Year,Year1,Month1,Days,new
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,2,NaN,56,...,0,23795.0,41515.0,1,0,NaN,25,0,0,NaN
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,0,2,01818279143,56,...,0,1370.0,1970.0,1,0,NaN,0,0,0,NaN
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,2,01825800705,56,...,0,21489.0,37389.0,1,0,NaN,20,0,0,NaN
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,2,NaN,56,...,0,21346.0,37266.0,1,0,NaN,18,0,0,NaN
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,2,NaN,56,...,0,22389.0,38709.0,1,0,NaN,24,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,2,01757493935,56,...,0,4665.0,7925.0,0,1,NaN,1,6,0,NaN
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,2,01730784715,56,...,0,29883.0,52233.0,1,0,21.0,1,0,0,NaN
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,2,01817311842,61,...,0,8727.0,16027.0,0,1,NaN,0,11,0,NaN
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,2,01631585124,18,...,0,13516.0,23931.0,0,1,NaN,0,3,0,NaN
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,2,0176262564,56,...,0,2390.0,3790.0,0,1,NaN,0,10,0,NaN

In [38]:
data["Year1"] = data["Year1"].str.replace(' ', '')

In [39]:
data["Days"]=data['Year1'].str.extract(pat='(..D)')
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED,Year,Year1,Month1,Days,new
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,2,NaN,56,...,0,23795.0,41515.0,1,0,NaN,25,0,NaN,NaN
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,0,2,01818279143,56,...,0,1370.0,1970.0,1,0,NaN,NaN,0,NaN,NaN
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,2,01825800705,56,...,0,21489.0,37389.0,1,0,NaN,20,0,NaN,NaN
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,2,NaN,56,...,0,21346.0,37266.0,1,0,NaN,18,0,NaN,NaN
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,2,NaN,56,...,0,22389.0,38709.0,1,0,NaN,24,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,2,01757493935,56,...,0,4665.0,7925.0,0,1,NaN,1,6,NaN,NaN
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,2,01730784715,56,...,0,29883.0,52233.0,1,0,21.0,1,0,NaN,NaN
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,2,01817311842,61,...,0,8727.0,16027.0,0,1,NaN,NaN,11,NaN,NaN
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,2,01631585124,18,...,0,13516.0,23931.0,0,1,NaN,NaN,3,NaN,NaN
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,2,0176262564,56,...,0,2390.0,3790.0,0,1,NaN,NaN,10,NaN,NaN

In [40]:
data[["Year1","new"]]=data['Year1'].str.split("D", expand=True)
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED,Year,Year1,Month1,Days,new
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,2,NaN,56,...,0,23795.0,41515.0,1,0,NaN,25,0,NaN,None
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,0,2,01818279143,56,...,0,1370.0,1970.0,1,0,NaN,NaN,0,NaN,None
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,2,01825800705,56,...,0,21489.0,37389.0,1,0,NaN,20,0,NaN,None
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,2,NaN,56,...,0,21346.0,37266.0,1,0,NaN,18,0,NaN,None
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,2,NaN,56,...,0,22389.0,38709.0,1,0,NaN,24,0,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,2,01757493935,56,...,0,4665.0,7925.0,0,1,NaN,1,6,NaN,None
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,2,01730784715,56,...,0,29883.0,52233.0,1,0,21.0,1,0,NaN,None
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,2,01817311842,61,...,0,8727.0,16027.0,0,1,NaN,NaN,11,NaN,None
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,2,01631585124,18,...,0,13516.0,23931.0,0,1,NaN,NaN,3,NaN,None
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,2,0176262564,56,...,0,2390.0,3790.0,0,1,NaN,NaN,10,NaN,None

In [41]:
data["Year1"] = pd.to_numeric(data["Year1"])
data.dtypes

PATIENTYY                      int64
PATIENTTP                     object
PATIENTID                      int64
PATIENT_NAME                  object
GUARDIAN_NAME                 object
GENDER                         int32
AGE                           object
RELIGION                       int32
MOBILE                        object
REFERER_ID                     int32
REFERER_NAME                   int32
DOCTOR_ID                      int32
DOCTOR_NAME                   object
DOCTOR_FEE                     int64
CABIN/BED_CHARGE               int64
CONSULTANT_FEE                 int64
SURGEON/CONDUCTION_FEE         int64
ASSISTANCY_CHARGE              int64
ANAESTHESIA_CHARGE             int64
OT_CHARGE                      int64
INVESTIGATION                  int64
RADIOLOGY_PORTABLE_CHARGE      int64
ULTRASONOGRAPHY                int64
ENDOSCOPY                      int64
OXYZEN                         int64
RYELS_TUBE_DOWN                int64
CATHETERIZATION                int64
NEBULIZATION                   int64
BLOOD_TRANSFUSION              int64
INSTRUMENTATION                int64
AMBULANCE                      int64
OTHERS                         int64
STOMACH_WASH                   int64
TRUCTION                       int64
I.V_CHARGE                     int64
STITCH                         int64
WARM_UP_CHARGE                 int64
OBSERVATION_CHARGE             int64
PHOTO_THERAPHY                 int64
OTHERS_CHARGES               float64
TOTAL_CHARGES                float64
MARRIED                        uint8
UNMARRIED                      uint8
Year                         float64
Year1                        float64
Month1                        object
Days                          object
new                           object
dtype: object

In [42]:
data=data.drop(data.index[2853])

In [43]:
data["Month1"] = pd.to_numeric(data["Month1"])

In [44]:
data["Days"] = pd.to_numeric(data["Days"])

In [45]:
data=data.drop(['new'], axis='columns')

In [46]:
data.dtypes

PATIENTYY                      int64
PATIENTTP                     object
PATIENTID                      int64
PATIENT_NAME                  object
GUARDIAN_NAME                 object
GENDER                         int32
AGE                           object
RELIGION                       int32
MOBILE                        object
REFERER_ID                     int32
REFERER_NAME                   int32
DOCTOR_ID                      int32
DOCTOR_NAME                   object
DOCTOR_FEE                     int64
CABIN/BED_CHARGE               int64
CONSULTANT_FEE                 int64
SURGEON/CONDUCTION_FEE         int64
ASSISTANCY_CHARGE              int64
ANAESTHESIA_CHARGE             int64
OT_CHARGE                      int64
INVESTIGATION                  int64
RADIOLOGY_PORTABLE_CHARGE      int64
ULTRASONOGRAPHY                int64
ENDOSCOPY                      int64
OXYZEN                         int64
RYELS_TUBE_DOWN                int64
CATHETERIZATION                int64
NEBULIZATION                   int64
BLOOD_TRANSFUSION              int64
INSTRUMENTATION                int64
AMBULANCE                      int64
OTHERS                         int64
STOMACH_WASH                   int64
TRUCTION                       int64
I.V_CHARGE                     int64
STITCH                         int64
WARM_UP_CHARGE                 int64
OBSERVATION_CHARGE             int64
PHOTO_THERAPHY                 int64
OTHERS_CHARGES               float64
TOTAL_CHARGES                float64
MARRIED                        uint8
UNMARRIED                      uint8
Year                         float64
Year1                        float64
Month1                       float64
Days                         float64
dtype: object

In [47]:
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,OBSERVATION_CHARGE,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED,Year,Year1,Month1,Days
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,2,NaN,56,...,0,0,23795.0,41515.0,1,0,NaN,25.0,0.0,NaN
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,0,2,01818279143,56,...,0,0,1370.0,1970.0,1,0,NaN,NaN,0.0,NaN
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,2,01825800705,56,...,0,0,21489.0,37389.0,1,0,NaN,20.0,0.0,NaN
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,2,NaN,56,...,0,0,21346.0,37266.0,1,0,NaN,18.0,0.0,NaN
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,2,NaN,56,...,0,0,22389.0,38709.0,1,0,NaN,24.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,2,01757493935,56,...,0,0,4665.0,7925.0,0,1,NaN,1.0,6.0,NaN
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,2,01730784715,56,...,0,0,29883.0,52233.0,1,0,21.0,1.0,0.0,NaN
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,2,01817311842,61,...,0,0,8727.0,16027.0,0,1,NaN,NaN,11.0,NaN
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,2,01631585124,18,...,0,0,13516.0,23931.0,0,1,NaN,NaN,3.0,NaN
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,2,0176262564,56,...,0,0,2390.0,3790.0,0,1,NaN,NaN,10.0,NaN

In [48]:
data=data.fillna(0)

In [49]:
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,OBSERVATION_CHARGE,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED,Year,Year1,Month1,Days
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,2,0,56,...,0,0,23795.0,41515.0,1,0,0.0,25.0,0.0,0.0
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,0,2,01818279143,56,...,0,0,1370.0,1970.0,1,0,0.0,0.0,0.0,0.0
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,2,01825800705,56,...,0,0,21489.0,37389.0,1,0,0.0,20.0,0.0,0.0
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,2,0,56,...,0,0,21346.0,37266.0,1,0,0.0,18.0,0.0,0.0
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,2,0,56,...,0,0,22389.0,38709.0,1,0,0.0,24.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,2,01757493935,56,...,0,0,4665.0,7925.0,0,1,0.0,1.0,6.0,0.0
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,2,01730784715,56,...,0,0,29883.0,52233.0,1,0,21.0,1.0,0.0,0.0
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,2,01817311842,61,...,0,0,8727.0,16027.0,0,1,0.0,0.0,11.0,0.0
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,2,01631585124,18,...,0,0,13516.0,23931.0,0,1,0.0,0.0,3.0,0.0
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,2,0176262564,56,...,0,0,2390.0,3790.0,0,1,0.0,0.0,10.0,0.0

In [50]:
data.loc[data['Year'] < data['Year1'],'year'] = data['Year1']
data.loc[data['Year'] > data['Year1'],'year'] = data['Year']
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED,Year,Year1,Month1,Days,year
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,2,0,56,...,0,23795.0,41515.0,1,0,0.0,25.0,0.0,0.0,25.0
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,0,2,01818279143,56,...,0,1370.0,1970.0,1,0,0.0,0.0,0.0,0.0,NaN
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,2,01825800705,56,...,0,21489.0,37389.0,1,0,0.0,20.0,0.0,0.0,20.0
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,2,0,56,...,0,21346.0,37266.0,1,0,0.0,18.0,0.0,0.0,18.0
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,2,0,56,...,0,22389.0,38709.0,1,0,0.0,24.0,0.0,0.0,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,2,01757493935,56,...,0,4665.0,7925.0,0,1,0.0,1.0,6.0,0.0,1.0
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,2,01730784715,56,...,0,29883.0,52233.0,1,0,21.0,1.0,0.0,0.0,21.0
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,2,01817311842,61,...,0,8727.0,16027.0,0,1,0.0,0.0,11.0,0.0,NaN
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,2,01631585124,18,...,0,13516.0,23931.0,0,1,0.0,0.0,3.0,0.0,NaN
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,2,0176262564,56,...,0,2390.0,3790.0,0,1,0.0,0.0,10.0,0.0,NaN

In [51]:
data['year'] = data['year'].replace(np.nan, 0)

In [52]:
data=data.drop(['Year'], axis='columns')

In [53]:
data=data.drop(['Year1'], axis='columns')

In [54]:
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,WARM_UP_CHARGE,OBSERVATION_CHARGE,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED,Month1,Days,year
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,2,0,56,...,0,0,0,23795.0,41515.0,1,0,0.0,0.0,25.0
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,0,2,01818279143,56,...,0,0,0,1370.0,1970.0,1,0,0.0,0.0,0.0
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,2,01825800705,56,...,0,0,0,21489.0,37389.0,1,0,0.0,0.0,20.0
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,2,0,56,...,0,0,0,21346.0,37266.0,1,0,0.0,0.0,18.0
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,2,0,56,...,0,0,0,22389.0,38709.0,1,0,0.0,0.0,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,2,01757493935,56,...,0,0,0,4665.0,7925.0,0,1,6.0,0.0,1.0
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,2,01730784715,56,...,300,0,0,29883.0,52233.0,1,0,0.0,0.0,21.0
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,2,01817311842,61,...,0,0,0,8727.0,16027.0,0,1,11.0,0.0,0.0
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,2,01631585124,18,...,0,0,0,13516.0,23931.0,0,1,3.0,0.0,0.0
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,2,0176262564,56,...,0,0,0,2390.0,3790.0,0,1,10.0,0.0,0.0

In [55]:
data["year"]=data["year"]*365
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,WARM_UP_CHARGE,OBSERVATION_CHARGE,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED,Month1,Days,year
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,2,0,56,...,0,0,0,23795.0,41515.0,1,0,0.0,0.0,9125.0
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,0,2,01818279143,56,...,0,0,0,1370.0,1970.0,1,0,0.0,0.0,0.0
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,2,01825800705,56,...,0,0,0,21489.0,37389.0,1,0,0.0,0.0,7300.0
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,2,0,56,...,0,0,0,21346.0,37266.0,1,0,0.0,0.0,6570.0
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,2,0,56,...,0,0,0,22389.0,38709.0,1,0,0.0,0.0,8760.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,2,01757493935,56,...,0,0,0,4665.0,7925.0,0,1,6.0,0.0,365.0
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,2,01730784715,56,...,300,0,0,29883.0,52233.0,1,0,0.0,0.0,7665.0
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,2,01817311842,61,...,0,0,0,8727.0,16027.0,0,1,11.0,0.0,0.0
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,2,01631585124,18,...,0,0,0,13516.0,23931.0,0,1,3.0,0.0,0.0
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,2,0176262564,56,...,0,0,0,2390.0,3790.0,0,1,10.0,0.0,0.0

In [56]:
data["Month"]=data["Month1"]*30
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,OBSERVATION_CHARGE,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED,Month1,Days,year,Month
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,2,0,56,...,0,0,23795.0,41515.0,1,0,0.0,0.0,9125.0,0.0
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,0,2,01818279143,56,...,0,0,1370.0,1970.0,1,0,0.0,0.0,0.0,0.0
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,2,01825800705,56,...,0,0,21489.0,37389.0,1,0,0.0,0.0,7300.0,0.0
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,2,0,56,...,0,0,21346.0,37266.0,1,0,0.0,0.0,6570.0,0.0
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,2,0,56,...,0,0,22389.0,38709.0,1,0,0.0,0.0,8760.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,2,01757493935,56,...,0,0,4665.0,7925.0,0,1,6.0,0.0,365.0,180.0
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,2,01730784715,56,...,0,0,29883.0,52233.0,1,0,0.0,0.0,7665.0,0.0
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,2,01817311842,61,...,0,0,8727.0,16027.0,0,1,11.0,0.0,0.0,330.0
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,2,01631585124,18,...,0,0,13516.0,23931.0,0,1,3.0,0.0,0.0,90.0
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,2,0176262564,56,...,0,0,2390.0,3790.0,0,1,10.0,0.0,0.0,300.0

In [57]:
data["AGE1"]=data["Month"]+data["year"]+data["Days"]
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED,Month1,Days,year,Month,AGE1
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,2,0,56,...,0,23795.0,41515.0,1,0,0.0,0.0,9125.0,0.0,9125.0
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,0,2,01818279143,56,...,0,1370.0,1970.0,1,0,0.0,0.0,0.0,0.0,0.0
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,2,01825800705,56,...,0,21489.0,37389.0,1,0,0.0,0.0,7300.0,0.0,7300.0
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,2,0,56,...,0,21346.0,37266.0,1,0,0.0,0.0,6570.0,0.0,6570.0
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,2,0,56,...,0,22389.0,38709.0,1,0,0.0,0.0,8760.0,0.0,8760.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,2,01757493935,56,...,0,4665.0,7925.0,0,1,6.0,0.0,365.0,180.0,545.0
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,2,01730784715,56,...,0,29883.0,52233.0,1,0,0.0,0.0,7665.0,0.0,7665.0
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,2,01817311842,61,...,0,8727.0,16027.0,0,1,11.0,0.0,0.0,330.0,330.0
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,2,01631585124,18,...,0,13516.0,23931.0,0,1,3.0,0.0,0.0,90.0,90.0
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,2,0176262564,56,...,0,2390.0,3790.0,0,1,10.0,0.0,0.0,300.0,300.0

In [58]:
data=data.drop(['year','Days','Month','Month1'], axis='columns')
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,I.V_CHARGE,STITCH,WARM_UP_CHARGE,OBSERVATION_CHARGE,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED,AGE1
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,2,0,56,...,400,0,0,0,0,23795.0,41515.0,1,0,9125.0
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,0,2,01818279143,56,...,200,0,0,0,0,1370.0,1970.0,1,0,0.0
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,2,01825800705,56,...,200,0,0,0,0,21489.0,37389.0,1,0,7300.0
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,2,0,56,...,200,0,0,0,0,21346.0,37266.0,1,0,6570.0
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,2,0,56,...,200,0,0,0,0,22389.0,38709.0,1,0,8760.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,2,01757493935,56,...,200,0,0,0,0,4665.0,7925.0,0,1,545.0
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,2,01730784715,56,...,200,0,300,0,0,29883.0,52233.0,1,0,7665.0
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,2,01817311842,61,...,200,0,0,0,0,8727.0,16027.0,0,1,330.0
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,2,01631585124,18,...,600,0,0,0,0,13516.0,23931.0,0,1,90.0
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,2,0176262564,56,...,200,0,0,0,0,2390.0,3790.0,0,1,300.0

In [59]:
mean= data['AGE1'].mean()
mean

6845.436534034857

In [60]:
data['AGE1'] = data['AGE1'].replace(0, mean)
data

,PATIENTYY,PATIENTTP,PATIENTID,PATIENT_NAME,GUARDIAN_NAME,GENDER,AGE,RELIGION,MOBILE,REFERER_ID,...,I.V_CHARGE,STITCH,WARM_UP_CHARGE,OBSERVATION_CHARGE,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED,AGE1
0,2013,INDOOR,2,MRS NASRIN AKTER,MD SORIF AHMED,0,25Y,2,0,56,...,400,0,0,0,0,23795.0,41515.0,1,0,9125.000000
1,2013,INDOOR,3,MRS NASREEN AKTER,MR SHOFIQ AHMED,0,0,2,01818279143,56,...,200,0,0,0,0,1370.0,1970.0,1,0,6845.436534
2,2014,INDOOR,1,MRS ROKSANA,MR AZGAR ALI,0,20Y,2,01825800705,56,...,200,0,0,0,0,21489.0,37389.0,1,0,7300.000000
3,2014,INDOOR,10,SHULI AKTER,NAZRUL ISLAM,0,18Y,2,0,56,...,200,0,0,0,0,21346.0,37266.0,1,0,6570.000000
4,2014,INDOOR,11,KONA AKTER,SAYED AHAMED,0,24Y,2,0,56,...,200,0,0,0,0,22389.0,38709.0,1,0,8760.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,INDOOR,995,MASTER SAMIA ALAM REG- 679/21,MD BEDARUL ALAM,0,1 Y 6 M,2,01757493935,56,...,200,0,0,0,0,4665.0,7925.0,0,1,545.000000
3038,2021,INDOOR,996,MRS JESMIN AKTER REG- 281/21,MD AKBAR HOSSAIN,0,21 Y,2,01730784715,56,...,200,0,300,0,0,29883.0,52233.0,1,0,7665.000000
3039,2021,INDOOR,997,MASTER SAHED REG- 680/21,MD ALA UDDIN,1,11 M,2,01817311842,61,...,200,0,0,0,0,8727.0,16027.0,0,1,330.000000
3040,2021,INDOOR,998,MASTER ADIB UDDIN REG- 681/21,MD GIAS UDDIN,1,3 M,2,01631585124,18,...,600,0,0,0,0,13516.0,23931.0,0,1,90.000000
3041,2021,INDOOR,999,MATER NOZAIRA JAHAN REG- 682/21,MD RIFAT,0,10 M,2,0176262564,56,...,200,0,0,0,0,2390.0,3790.0,0,1,300.000000

In [61]:
data=data.drop(['PATIENTTP','PATIENT_NAME','PATIENTID','PATIENT_NAME','GUARDIAN_NAME','MOBILE','DOCTOR_NAME','AGE','REFERER_NAME'], axis='columns')
data

,PATIENTYY,GENDER,RELIGION,REFERER_ID,DOCTOR_ID,DOCTOR_FEE,CABIN/BED_CHARGE,CONSULTANT_FEE,SURGEON/CONDUCTION_FEE,ASSISTANCY_CHARGE,...,I.V_CHARGE,STITCH,WARM_UP_CHARGE,OBSERVATION_CHARGE,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED,AGE1
0,2013,0,2,56,58,200,2800,2000,6000,1500,...,400,0,0,0,0,23795.0,41515.0,1,0,9125.000000
1,2013,0,2,56,58,0,400,0,0,0,...,200,0,0,0,0,1370.0,1970.0,1,0,6845.436534
2,2014,0,2,56,4,600,3600,0,6000,1500,...,200,0,0,0,0,21489.0,37389.0,1,0,7300.000000
3,2014,0,2,56,58,800,2800,1000,5000,1500,...,200,0,0,0,0,21346.0,37266.0,1,0,6570.000000
4,2014,0,2,56,58,600,2400,0,7000,1500,...,200,0,0,0,0,22389.0,38709.0,1,0,8760.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,0,2,56,58,300,900,500,0,0,...,200,0,0,0,0,4665.0,7925.0,0,1,545.000000
3038,2021,0,2,56,58,1200,3600,500,7000,1500,...,200,0,300,0,0,29883.0,52233.0,1,0,7665.000000
3039,2021,1,2,61,62,900,3600,1800,0,0,...,200,0,0,0,0,8727.0,16027.0,0,1,330.000000
3040,2021,1,2,18,19,1200,3200,2400,0,0,...,600,0,0,0,0,13516.0,23931.0,0,1,90.000000
3041,2021,0,2,56,58,300,900,0,0,0,...,200,0,0,0,0,2390.0,3790.0,0,1,300.000000

In [62]:
data.loc[data['PATIENTYY'] ==2013,'TOTAL_CHARGES_2013'] = data['TOTAL_CHARGES']
data

,PATIENTYY,GENDER,RELIGION,REFERER_ID,DOCTOR_ID,DOCTOR_FEE,CABIN/BED_CHARGE,CONSULTANT_FEE,SURGEON/CONDUCTION_FEE,ASSISTANCY_CHARGE,...,STITCH,WARM_UP_CHARGE,OBSERVATION_CHARGE,PHOTO_THERAPHY,OTHERS_CHARGES,TOTAL_CHARGES,MARRIED,UNMARRIED,AGE1,TOTAL_CHARGES_2013
0,2013,0,2,56,58,200,2800,2000,6000,1500,...,0,0,0,0,23795.0,41515.0,1,0,9125.000000,41515.0
1,2013,0,2,56,58,0,400,0,0,0,...,0,0,0,0,1370.0,1970.0,1,0,6845.436534,1970.0
2,2014,0,2,56,4,600,3600,0,6000,1500,...,0,0,0,0,21489.0,37389.0,1,0,7300.000000,NaN
3,2014,0,2,56,58,800,2800,1000,5000,1500,...,0,0,0,0,21346.0,37266.0,1,0,6570.000000,NaN
4,2014,0,2,56,58,600,2400,0,7000,1500,...,0,0,0,0,22389.0,38709.0,1,0,8760.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,0,2,56,58,300,900,500,0,0,...,0,0,0,0,4665.0,7925.0,0,1,545.000000,NaN
3038,2021,0,2,56,58,1200,3600,500,7000,1500,...,0,300,0,0,29883.0,52233.0,1,0,7665.000000,NaN
3039,2021,1,2,61,62,900,3600,1800,0,0,...,0,0,0,0,8727.0,16027.0,0,1,330.000000,NaN
3040,2021,1,2,18,19,1200,3200,2400,0,0,...,0,0,0,0,13516.0,23931.0,0,1,90.000000,NaN
3041,2021,0,2,56,58,300,900,0,0,0,...,0,0,0,0,2390.0,3790.0,0,1,300.000000,NaN

In [63]:
data.loc[data['PATIENTYY'] ==2014,'TOTAL_CHARGES_2014'] = data['TOTAL_CHARGES']
data.loc[data['PATIENTYY'] ==2015,'TOTAL_CHARGES_2015'] = data['TOTAL_CHARGES']
data.loc[data['PATIENTYY'] ==2016,'TOTAL_CHARGES_2016'] = data['TOTAL_CHARGES']
data.loc[data['PATIENTYY'] ==2017,'TOTAL_CHARGES_2017'] = data['TOTAL_CHARGES']
data.loc[data['PATIENTYY'] ==2018,'TOTAL_CHARGES_2018'] = data['TOTAL_CHARGES']
data.loc[data['PATIENTYY'] ==2019,'TOTAL_CHARGES_2019'] = data['TOTAL_CHARGES']
data.loc[data['PATIENTYY'] ==2020,'TOTAL_CHARGES_2020'] = data['TOTAL_CHARGES']
data.loc[data['PATIENTYY'] ==2021,'TOTAL_CHARGES_2021'] = data['TOTAL_CHARGES']

In [64]:
data

,PATIENTYY,GENDER,RELIGION,REFERER_ID,DOCTOR_ID,DOCTOR_FEE,CABIN/BED_CHARGE,CONSULTANT_FEE,SURGEON/CONDUCTION_FEE,ASSISTANCY_CHARGE,...,AGE1,TOTAL_CHARGES_2013,TOTAL_CHARGES_2014,TOTAL_CHARGES_2015,TOTAL_CHARGES_2016,TOTAL_CHARGES_2017,TOTAL_CHARGES_2018,TOTAL_CHARGES_2019,TOTAL_CHARGES_2020,TOTAL_CHARGES_2021
0,2013,0,2,56,58,200,2800,2000,6000,1500,...,9125.000000,41515.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,0,2,56,58,0,400,0,0,0,...,6845.436534,1970.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014,0,2,56,4,600,3600,0,6000,1500,...,7300.000000,NaN,37389.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014,0,2,56,58,800,2800,1000,5000,1500,...,6570.000000,NaN,37266.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014,0,2,56,58,600,2400,0,7000,1500,...,8760.000000,NaN,38709.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,2021,0,2,56,58,300,900,500,0,0,...,545.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7925.0
3038,2021,0,2,56,58,1200,3600,500,7000,1500,...,7665.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52233.0
3039,2021,1,2,61,62,900,3600,1800,0,0,...,330.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16027.0
3040,2021,1,2,18,19,1200,3200,2400,0,0,...,90.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23931.0
3041,2021,0,2,56,58,300,900,0,0,0,...,300.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3790.0

In [65]:
data_2013=data["TOTAL_CHARGES_2013"].sum()
data_2014=356879
data_2015=data["TOTAL_CHARGES_2015"].sum()
data_2016=402861
data_2017=data["TOTAL_CHARGES_2017"].sum()
data_2018=701227
data_2019=data["TOTAL_CHARGES_2019"].sum()
data_2020=351891
data_2021=data["TOTAL_CHARGES_2021"].sum()

In [66]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Flatten

In [67]:
def prepare_data(timeseries_data,n_features):
    x,y=[],[]
    for i in range(len(timeseries_data)):
        end_ix=i+n_features
        if end_ix> len(timeseries_data)-1:
            break
        seq_x, seq_y= timeseries_data[i:end_ix],timeseries_data[end_ix]
        x.append(seq_x)
        y.append(seq_y)
    return np.array(x), np.array(y)

In [68]:
timeseries_data=[data_2013,data_2014,data_2015,data_2016,data_2017,data_2018,data_2019,data_2020,data_2021]
n_steps=3
x,y=prepare_data(timeseries_data,n_steps)

In [69]:
print(x),print(y)

[[  43485.  356879.  416879.]
 [ 356879.  416879.  402861.]
 [ 416879.  402861.  472861.]
 [ 402861.  472861.  701227.]
 [ 472861.  701227. 1271227.]
 [ 701227. 1271227.  351891.]]
[  402861.   472861.   701227.  1271227.   351891. 27611680.]

(None, None)

In [70]:
x.shape

(6, 3)

In [71]:
n_features=1
x=x.reshape((x.shape[0],x.shape[1],n_features))

# build a model

In [72]:
model=Sequential()
model.add(LSTM(50,activation='relu',return_sequences=True, input_shape=(n_steps,n_features)))
model.add(LSTM(50, activation='relu'))
model.add(Dense(1))
model.compile(optimizer='adam',loss='mse')
model.fit(x,y, epochs=300,verbose=1)

Epoch 1/300
1/1 [==============================] - 5s 5s/step - loss: 127556024008704.0000
Epoch 2/300
1/1 [==============================] - 0s 9ms/step - loss: 127523291660288.0000
Epoch 3/300
1/1 [==============================] - 0s 8ms/step - loss: 127489653342208.0000
Epoch 4/300
1/1 [==============================] - 0s 10ms/step - loss: 127457516584960.0000
Epoch 5/300
1/1 [==============================] - 0s 10ms/step - loss: 127129765281792.0000
Epoch 6/300
1/1 [==============================] - 0s 7ms/step - loss: 127114716119040.0000
Epoch 7/300
1/1 [==============================] - 0s 9ms/step - loss: 127245947502592.0000
Epoch 8/300
1/1 [==============================] - 0s 7ms/step - loss: 127166171840512.0000
Epoch 9/300
1/1 [==============================] - 0s 7ms/step - loss: 127182932279296.0000
Epoch 10/300
1/1 [==============================] - 0s 9ms/step - loss: 127173788696576.0000
Epoch 11/300
1/1 [==============================] - 0s 9ms/step - loss: 127164594782208.0000
Epoch 12/300
1/1 [==============================] - 0s 8ms/step - loss: 127117870235648.0000
Epoch 13/300
1/1 [==============================] - 0s 11ms/step - loss: 127107116040192.0000
Epoch 14/300
1/1 [==============================] - 0s 7ms/step - loss: 127096068243456.0000
Epoch 15/300
1/1 [==============================] - 0s 8ms/step - loss: 127084483575808.0000
Epoch 16/300
1/1 [==============================] - 0s 13ms/step - loss: 127072882130944.0000
Epoch 17/300
1/1 [==============================] - 0s 11ms/step - loss: 127061012250624.0000
Epoch 18/300
1/1 [==============================] - 0s 8ms/step - loss: 127051986108416.0000
Epoch 19/300
1/1 [==============================] - 0s 9ms/step - loss: 126907886600192.0000
Epoch 20/300
1/1 [==============================] - 0s 11ms/step - loss: 127015730544640.0000
Epoch 21/300
1/1 [==============================] - 0s 7ms/step - loss: 127002375880704.0000
Epoch 22/300
1/1 [==============================] - 0s 8ms/step - loss: 126988668895232.0000
Epoch 23/300
1/1 [==============================] - 0s 8ms/step - loss: 126974634754048.0000
Epoch 24/300
1/1 [==============================] - 0s 8ms/step - loss: 126960214736896.0000
Epoch 25/300
1/1 [==============================] - 0s 8ms/step - loss: 126944997801984.0000
Epoch 26/300
1/1 [==============================] - 0s 10ms/step - loss: 126929864753152.0000
Epoch 27/300
1/1 [==============================] - 0s 13ms/step - loss: 126914480046080.0000
Epoch 28/300
1/1 [==============================] - 0s 9ms/step - loss: 126898743017472.0000
Epoch 29/300
1/1 [==============================] - 0s 8ms/step - loss: 126883232481280.0000
Epoch 30/300
1/1 [==============================] - 0s 10ms/step - loss: 126866589483008.0000
Epoch 31/300
1/1 [==============================] - 0s 20ms/step - loss: 126849510277120.0000
Epoch 32/300
1/1 [==============================] - 0s 11ms/step - loss: 126831969697792.0000
Epoch 33/300
1/1 [==============================] - 0s 8ms/step - loss: 126813967745024.0000
Epoch 34/300
1/1 [==============================] - 0s 7ms/step - loss: 126795462475776.0000
Epoch 35/300
1/1 [==============================] - 0s 7ms/step - loss: 126776487444480.0000
Epoch 36/300
1/1 [==============================] - 0s 11ms/step - loss: 126757025873920.0000
Epoch 37/300
1/1 [==============================] - 0s 8ms/step - loss: 126736993878016.0000
Epoch 38/300
1/1 [==============================] - 0s 10ms/step - loss: 126716458565632.0000
Epoch 39/300
1/1 [==============================] - 0s 10ms/step - loss: 126695285719040.0000
Epoch 40/300
1/1 [==============================] - 0s 8ms/step - loss: 126673349509120.0000
Epoch 41/300
1/1 [==============================] - 0s 9ms/step - loss: 126650473775104.0000
Epoch 42/300
1/1 [==============================] - 0s 7ms/step - loss: 126626901786624.0000
Epoch 43/300
1/1 [==============================] - 0s 11ms/step - loss: 126602574823424.0000
Epoch 44/300
1/1 [==============================] - 0s 8ms/step - loss: 126489773211648.0000
Epoch 45/300
1/1 [==============================] - 0s 8ms/step - loss: 126459708440576.0000
Epoch 46/300
1/1 [==============================] - 0s 8ms/step - loss: 126429241016320.0000
Epoch 47/300
1/1 [==============================] - 0s 7ms/step - loss: 126394000474112.0000
Epoch 48/300
1/1 [==============================] - 0s 7ms/step - loss: 126360043388928.0000
Epoch 49/300
1/1 [==============================] - 0s 8ms/step - loss: 126324442136576.0000
Epoch 50/300
1/1 [==============================] - 0s 13ms/step - loss: 126286894727168.0000
Epoch 51/300
1/1 [==============================] - 0s 8ms/step - loss: 126247820591104.0000
Epoch 52/300
1/1 [==============================] - 0s 8ms/step - loss: 126198529130496.0000
Epoch 53/300
1/1 [==============================] - 0s 10ms/step - loss: 126156200214528.0000
Epoch 54/300
1/1 [==============================] - 0s 11ms/step - loss: 126370478817280.0000
Epoch 55/300
1/1 [==============================] - 0s 8ms/step - loss: 126328107958272.0000
Epoch 56/300
1/1 [==============================] - 0s 8ms/step - loss: 126283111464960.0000
Epoch 57/300
1/1 [==============================] - 0s 9ms/step - loss: 126234331709440.0000
Epoch 58/300
1/1 [==============================] - 0s 12ms/step - loss: 126186885742592.0000
Epoch 59/300
1/1 [==============================] - 0s 8ms/step - loss: 126139892760576.0000
Epoch 60/300
1/1 [==============================] - 0s 8ms/step - loss: 126088655142912.0000
Epoch 61/300
1/1 [==============================] - 0s 8ms/step - loss: 126042559741952.0000
Epoch 62/300
1/1 [==============================] - 0s 8ms/step - loss: 125991464730624.0000
Epoch 63/300
1/1 [==============================] - 0s 8ms/step - loss: 125907444432896.0000
Epoch 64/300
1/1 [==============================] - 0s 8ms/step - loss: 125566850170880.0000
Epoch 65/300
1/1 [==============================] - 0s 9ms/step - loss: 125504044662784.0000
Epoch 66/300
1/1 [==============================] - 0s 13ms/step - loss: 125414764707840.0000
Epoch 67/300
1/1 [==============================] - 0s 9ms/step - loss: 125307541520384.0000
Epoch 68/300
1/1 [==============================] - 0s 8ms/step - loss: 125239006593024.0000
Epoch 69/300
1/1 [==============================] - 0s 10ms/step - loss: 125165337837568.0000
Epoch 70/300
1/1 [==============================] - 0s 8ms/step - loss: 125153635729408.0000
Epoch 71/300
1/1 [==============================] - 0s 8ms/step - loss: 125069137281024.0000
Epoch 72/300
1/1 [==============================] - 0s 7ms/step - loss: 124986291388416.0000
Epoch 73/300
1/1 [==============================] - 0s 8ms/step - loss: 124892984901632.0000
Epoch 74/300
1/1 [==============================] - 0s 7ms/step - loss: 124795551219712.0000
Epoch 75/300
1/1 [==============================] - 0s 9ms/step - loss: 124814878572544.0000
Epoch 76/300
1/1 [==============================] - 0s 9ms/step - loss: 124714483712000.0000
Epoch 77/300
1/1 [==============================] - 0s 8ms/step - loss: 124610045542400.0000
Epoch 78/300
1/1 [==============================] - 0s 9ms/step - loss: 124501371125760.0000
Epoch 79/300
1/1 [==============================] - 0s 9ms/step - loss: 124391773962240.0000
Epoch 80/300
1/1 [==============================] - 0s 10ms/step - loss: 124276061503488.0000
Epoch 81/300
1/1 [==============================] - 0s 10ms/step - loss: 124149452242944.0000
Epoch 82/300
1/1 [==============================] - 0s 11ms/step - loss: 124023790895104.0000
Epoch 83/300
1/1 [==============================] - 0s 8ms/step - loss: 123890546245632.0000
Epoch 84/300
1/1 [==============================] - 0s 10ms/step - loss: 123754256531456.0000
Epoch 85/300
1/1 [==============================] - 0s 9ms/step - loss: 123610433847296.0000
Epoch 86/300
1/1 [==============================] - 0s 9ms/step - loss: 123461015961600.0000
Epoch 87/300
1/1 [==============================] - 0s 11ms/step - loss: 123305851879424.0000
Epoch 88/300

1/1 [==============================] - 0s 12ms/step - loss: 123144723496960.0000
Epoch 89/300
1/1 [==============================] - 0s 9ms/step - loss: 122978033467392.0000
Epoch 90/300
1/1 [==============================] - 0s 9ms/step - loss: 125421408485376.0000
Epoch 91/300
1/1 [==============================] - 0s 12ms/step - loss: 125337883115520.0000
Epoch 92/300
1/1 [==============================] - 0s 9ms/step - loss: 125254164807680.0000
Epoch 93/300
1/1 [==============================] - 0s 9ms/step - loss: 125166352859136.0000
Epoch 94/300
1/1 [==============================] - 0s 10ms/step - loss: 125070378795008.0000
Epoch 95/300
1/1 [==============================] - 0s 8ms/step - loss: 124976275390464.0000
Epoch 96/300
1/1 [==============================] - 0s 9ms/step - loss: 124730086522880.0000
Epoch 97/300
1/1 [==============================] - 0s 8ms/step - loss: 124624926932992.0000
Epoch 98/300
1/1 [==============================] - 0s 8ms/step - loss: 124516806164480.0000
Epoch 99/300
1/1 [==============================] - 0s 8ms/step - loss: 124405480947712.0000
Epoch 100/300
1/1 [==============================] - 0s 9ms/step - loss: 124291613982720.0000
Epoch 101/300
1/1 [==============================] - 0s 9ms/step - loss: 124174458683392.0000
Epoch 102/300
1/1 [==============================] - 0s 8ms/step - loss: 124058117079040.0000
Epoch 103/300
1/1 [==============================] - 0s 9ms/step - loss: 123941448318976.0000
Epoch 104/300
1/1 [==============================] - 0s 9ms/step - loss: 123825618419712.0000
Epoch 105/300
1/1 [==============================] - 0s 9ms/step - loss: 123582994710528.0000
Epoch 106/300
1/1 [==============================] - 0s 8ms/step - loss: 123585242857472.0000
Epoch 107/300
1/1 [==============================] - 0s 9ms/step - loss: 123461083070464.0000
Epoch 108/300
1/1 [==============================] - 0s 10ms/step - loss: 123332141776896.0000
Epoch 109/300
1/1 [==============================] - 0s 10ms/step - loss: 123194157563904.0000
Epoch 110/300
1/1 [==============================] - 0s 8ms/step - loss: 124945287872512.0000
Epoch 111/300
1/1 [==============================] - 0s 7ms/step - loss: 122906940014592.0000
Epoch 112/300
1/1 [==============================] - 0s 9ms/step - loss: 122769635278848.0000
Epoch 113/300
1/1 [==============================] - 0s 10ms/step - loss: 122627851026432.0000
Epoch 114/300
1/1 [==============================] - 0s 8ms/step - loss: 122481360764928.0000
Epoch 115/300
1/1 [==============================] - 0s 8ms/step - loss: 122335055052800.0000
Epoch 116/300
1/1 [==============================] - 0s 10ms/step - loss: 122087834386432.0000
Epoch 117/300
1/1 [==============================] - 0s 9ms/step - loss: 122035179094016.0000
Epoch 118/300
1/1 [==============================] - 0s 9ms/step - loss: 121869973848064.0000
Epoch 119/300
1/1 [==============================] - 0s 9ms/step - loss: 121607276199936.0000
Epoch 120/300
1/1 [==============================] - 0s 10ms/step - loss: 121427927760896.0000
Epoch 121/300
1/1 [==============================] - 0s 9ms/step - loss: 121239712563200.0000
Epoch 122/300
1/1 [==============================] - 0s 10ms/step - loss: 121009537548288.0000
Epoch 123/300
1/1 [==============================] - 0s 10ms/step - loss: 120803093905408.0000
Epoch 124/300
1/1 [==============================] - 0s 9ms/step - loss: 120584017018880.0000
Epoch 125/300
1/1 [==============================] - 0s 8ms/step - loss: 120356190814208.0000
Epoch 126/300
1/1 [==============================] - 0s 11ms/step - loss: 120118952591360.0000
Epoch 127/300
1/1 [==============================] - 0s 10ms/step - loss: 119872503676928.0000
Epoch 128/300
1/1 [==============================] - 0s 8ms/step - loss: 119139851042816.0000
Epoch 129/300
1/1 [==============================] - 0s 9ms/step - loss: 118857389834240.0000
Epoch 130/300
1/1 [==============================] - 0s 10ms/step - loss: 118561834008576.0000
Epoch 131/300
1/1 [==============================] - 0s 9ms/step - loss: 118253141622784.0000
Epoch 132/300
1/1 [==============================] - 0s 9ms/step - loss: 117931220402176.0000
Epoch 133/300
1/1 [==============================] - 0s 9ms/step - loss: 121054525652992.0000
Epoch 134/300
1/1 [==============================] - 0s 8ms/step - loss: 120786652233728.0000
Epoch 135/300
1/1 [==============================] - 0s 29ms/step - loss: 120508620210176.0000
Epoch 136/300
1/1 [==============================] - 0s 10ms/step - loss: 120220261810176.0000
Epoch 137/300
1/1 [==============================] - 0s 8ms/step - loss: 119921384095744.0000
Epoch 138/300
1/1 [==============================] - 0s 9ms/step - loss: 119607482384384.0000
Epoch 139/300
1/1 [==============================] - 0s 8ms/step - loss: 119292540485632.0000
Epoch 140/300
1/1 [==============================] - 0s 10ms/step - loss: 119824428564480.0000
Epoch 141/300
1/1 [==============================] - 0s 10ms/step - loss: 119505552408576.0000
Epoch 142/300
1/1 [==============================] - 0s 9ms/step - loss: 119181575979008.0000
Epoch 143/300
1/1 [==============================] - 0s 9ms/step - loss: 118849772978176.0000
Epoch 144/300
1/1 [==============================] - 0s 9ms/step - loss: 117693847961600.0000
Epoch 145/300
1/1 [==============================] - 0s 10ms/step - loss: 117333565636608.0000
Epoch 146/300
1/1 [==============================] - 0s 9ms/step - loss: 117910265659392.0000
Epoch 147/300
1/1 [==============================] - 0s 9ms/step - loss: 117543591215104.0000
Epoch 148/300
1/1 [==============================] - 0s 7ms/step - loss: 117177571082240.0000
Epoch 149/300
1/1 [==============================] - 0s 8ms/step - loss: 116798993203200.0000
Epoch 150/300
1/1 [==============================] - 0s 7ms/step - loss: 115524126113792.0000
Epoch 151/300
1/1 [==============================] - 0s 9ms/step - loss: 115458996961280.0000
Epoch 152/300
1/1 [==============================] - 0s 7ms/step - loss: 114985376153600.0000
Epoch 153/300
1/1 [==============================] - 0s 7ms/step - loss: 114481438916608.0000
Epoch 154/300
1/1 [==============================] - 0s 8ms/step - loss: 113952654622720.0000
Epoch 155/300
1/1 [==============================] - 0s 10ms/step - loss: 113402261274624.0000
Epoch 156/300
1/1 [==============================] - 0s 9ms/step - loss: 112827146698752.0000
Epoch 157/300
1/1 [==============================] - 0s 9ms/step - loss: 112232025292800.0000
Epoch 158/300
1/1 [==============================] - 0s 7ms/step - loss: 111612241379328.0000
Epoch 159/300
1/1 [==============================] - 0s 10ms/step - loss: 114092392054784.0000
Epoch 160/300
1/1 [==============================] - 0s 10ms/step - loss: 114192921133056.0000
Epoch 161/300
1/1 [==============================] - 0s 8ms/step - loss: 113649842651136.0000
Epoch 162/300
1/1 [==============================] - 0s 7ms/step - loss: 113093208178688.0000
Epoch 163/300
1/1 [==============================] - 0s 8ms/step - loss: 112545557905408.0000
Epoch 164/300
1/1 [==============================] - 0s 8ms/step - loss: 112134650331136.0000
Epoch 165/300
1/1 [==============================] - 0s 8ms/step - loss: 111585389445120.0000
Epoch 166/300
1/1 [==============================] - 0s 8ms/step - loss: 111022379630592.0000
Epoch 167/300
1/1 [==============================] - 0s 9ms/step - loss: 110162891243520.0000
Epoch 168/300
1/1 [==============================] - 0s 9ms/step - loss: 109703933722624.0000
Epoch 169/300
1/1 [==============================] - 0s 9ms/step - loss: 109088369278976.0000
Epoch 170/300
1/1 [==============================] - 0s 8ms/step - loss: 108423991525376.0000
Epoch 171/300
1/1 [==============================] - 0s 8ms/step - loss: 107684225351680.0000
Epoch 172/300
1/1 [==============================] - 0s 9ms/step - loss: 107012633395200.0000
Epoch 173/300
1/1 [==============================] - 0s 8ms/step - loss: 106350679949312.0000
Epoch 174/300
1/1 [==============================] - 0s 8ms/step - loss: 105677628375040.0000
Epoch 175/300

1/1 [==============================] - 0s 8ms/step - loss: 104958900830208.0000
Epoch 176/300
1/1 [==============================] - 0s 9ms/step - loss: 104167284670464.0000
Epoch 177/300
1/1 [==============================] - 0s 8ms/step - loss: 104746945871872.0000
Epoch 178/300
1/1 [==============================] - 0s 7ms/step - loss: 102260042366976.0000
Epoch 179/300
1/1 [==============================] - 0s 10ms/step - loss: 101807091089408.0000
Epoch 180/300
1/1 [==============================] - 0s 9ms/step - loss: 102638779629568.0000
Epoch 181/300
1/1 [==============================] - 0s 12ms/step - loss: 101857775058944.0000
Epoch 182/300
1/1 [==============================] - 0s 8ms/step - loss: 101296862396416.0000
Epoch 183/300
1/1 [==============================] - 0s 7ms/step - loss: 100506563248128.0000
Epoch 184/300
1/1 [==============================] - 0s 8ms/step - loss: 103796877295616.0000
Epoch 185/300
1/1 [==============================] - 0s 8ms/step - loss: 103166892834816.0000
Epoch 186/300
1/1 [==============================] - 0s 9ms/step - loss: 102661554700288.0000
Epoch 187/300
1/1 [==============================] - 0s 8ms/step - loss: 102274554658816.0000
Epoch 188/300
1/1 [==============================] - 0s 12ms/step - loss: 101882362068992.0000
Epoch 189/300
1/1 [==============================] - 0s 9ms/step - loss: 101373383278592.0000
Epoch 190/300
1/1 [==============================] - 0s 8ms/step - loss: 100859732033536.0000
Epoch 191/300
1/1 [==============================] - 0s 8ms/step - loss: 100341416722432.0000
Epoch 192/300
1/1 [==============================] - 0s 11ms/step - loss: 99818454122496.0000
Epoch 193/300
1/1 [==============================] - 0s 8ms/step - loss: 99006705303552.0000
Epoch 194/300
1/1 [==============================] - 0s 9ms/step - loss: 98470211878912.0000
Epoch 195/300
1/1 [==============================] - 0s 9ms/step - loss: 97928374910976.0000
Epoch 196/300
1/1 [==============================] - 0s 8ms/step - loss: 93794510831616.0000
Epoch 197/300
1/1 [==============================] - 0s 10ms/step - loss: 93199540420608.0000
Epoch 198/300
1/1 [==============================] - 0s 9ms/step - loss: 92611800989696.0000
Epoch 199/300
1/1 [==============================] - 0s 8ms/step - loss: 92066507915264.0000
Epoch 200/300
1/1 [==============================] - 0s 8ms/step - loss: 92252483354624.0000
Epoch 201/300
1/1 [==============================] - 0s 8ms/step - loss: 92100708270080.0000
Epoch 202/300
1/1 [==============================] - 0s 8ms/step - loss: 91492592910336.0000
Epoch 203/300
1/1 [==============================] - 0s 8ms/step - loss: 90877137518592.0000
Epoch 204/300
1/1 [==============================] - 0s 8ms/step - loss: 90050012381184.0000
Epoch 205/300
1/1 [==============================] - 0s 8ms/step - loss: 89418048208896.0000
Epoch 206/300
1/1 [==============================] - 0s 9ms/step - loss: 88780371394560.0000
Epoch 207/300
1/1 [==============================] - 0s 8ms/step - loss: 88137409757184.0000
Epoch 208/300
1/1 [==============================] - 0s 8ms/step - loss: 87489607892992.0000
Epoch 209/300
1/1 [==============================] - 0s 8ms/step - loss: 86642601754624.0000
Epoch 210/300
1/1 [==============================] - 0s 8ms/step - loss: 85982930010112.0000
Epoch 211/300
1/1 [==============================] - 0s 7ms/step - loss: 85319282065408.0000
Epoch 212/300
1/1 [==============================] - 0s 8ms/step - loss: 84652035407872.0000
Epoch 213/300
1/1 [==============================] - 0s 8ms/step - loss: 84070788759552.0000
Epoch 214/300
1/1 [==============================] - 0s 10ms/step - loss: 83402350919680.0000
Epoch 215/300
1/1 [==============================] - 0s 8ms/step - loss: 82731933368320.0000
Epoch 216/300
1/1 [==============================] - 0s 8ms/step - loss: 82059888427008.0000
Epoch 217/300
1/1 [==============================] - 0s 10ms/step - loss: 81386551640064.0000
Epoch 218/300
1/1 [==============================] - 0s 10ms/step - loss: 80712275329024.0000
Epoch 219/300
1/1 [==============================] - 0s 8ms/step - loss: 80037353095168.0000
Epoch 220/300
1/1 [==============================] - 0s 8ms/step - loss: 79362154037248.0000
Epoch 221/300
1/1 [==============================] - 0s 8ms/step - loss: 78686988533760.0000
Epoch 222/300
1/1 [==============================] - 0s 8ms/step - loss: 87352798085120.0000
Epoch 223/300
1/1 [==============================] - 0s 7ms/step - loss: 86766476328960.0000
Epoch 224/300
1/1 [==============================] - 0s 8ms/step - loss: 86176732020736.0000
Epoch 225/300
1/1 [==============================] - 0s 10ms/step - loss: 85583808430080.0000
Epoch 226/300
1/1 [==============================] - 0s 7ms/step - loss: 84618329980928.0000
Epoch 227/300
1/1 [==============================] - 0s 7ms/step - loss: 84016128589824.0000
Epoch 228/300
1/1 [==============================] - 0s 9ms/step - loss: 83411544834048.0000
Epoch 229/300
1/1 [==============================] - 0s 8ms/step - loss: 82724685611008.0000
Epoch 230/300
1/1 [==============================] - 0s 9ms/step - loss: 82116570251264.0000
Epoch 231/300
1/1 [==============================] - 0s 8ms/step - loss: 81506995273728.0000
Epoch 232/300
1/1 [==============================] - 0s 8ms/step - loss: 80896229113856.0000
Epoch 233/300
1/1 [==============================] - 0s 12ms/step - loss: 80284556984320.0000
Epoch 234/300
1/1 [==============================] - 0s 9ms/step - loss: 79672238931968.0000
Epoch 235/300
1/1 [==============================] - 0s 9ms/step - loss: 79059535003648.0000
Epoch 236/300
1/1 [==============================] - 0s 10ms/step - loss: 78446680080384.0000
Epoch 237/300
1/1 [==============================] - 0s 11ms/step - loss: 77833942597632.0000
Epoch 238/300
1/1 [==============================] - 0s 9ms/step - loss: 77221532270592.0000
Epoch 239/300
1/1 [==============================] - 0s 9ms/step - loss: 76609717534720.0000
Epoch 240/300
1/1 [==============================] - 0s 8ms/step - loss: 75998716493824.0000
Epoch 241/300
1/1 [==============================] - 0s 7ms/step - loss: 75388738863104.0000
Epoch 242/300
1/1 [==============================] - 0s 15ms/step - loss: 74780011134976.0000
Epoch 243/300
1/1 [==============================] - 0s 7ms/step - loss: 74172768190464.0000
Epoch 244/300
1/1 [==============================] - 0s 9ms/step - loss: 73567177801728.0000
Epoch 245/300
1/1 [==============================] - 0s 11ms/step - loss: 72963500015616.0000
Epoch 246/300
1/1 [==============================] - 0s 8ms/step - loss: 72361869049856.0000
Epoch 247/300
1/1 [==============================] - 0s 7ms/step - loss: 71762511396864.0000
Epoch 248/300
1/1 [==============================] - 0s 9ms/step - loss: 71165619994624.0000
Epoch 249/300
1/1 [==============================] - 0s 9ms/step - loss: 71340019154944.0000
Epoch 250/300
1/1 [==============================] - 0s 8ms/step - loss: 70770717884416.0000
Epoch 251/300
1/1 [==============================] - 0s 8ms/step - loss: 70205501865984.0000
Epoch 252/300
1/1 [==============================] - 0s 8ms/step - loss: 68901304008704.0000
Epoch 253/300
1/1 [==============================] - 0s 10ms/step - loss: 68343100866560.0000
Epoch 254/300
1/1 [==============================] - 0s 8ms/step - loss: 67788798427136.0000
Epoch 255/300
1/1 [==============================] - 0s 10ms/step - loss: 67238568656896.0000
Epoch 256/300
1/1 [==============================] - 0s 10ms/step - loss: 66692549967872.0000
Epoch 257/300
1/1 [==============================] - 0s 10ms/step - loss: 66150905937920.0000
Epoch 258/300
1/1 [==============================] - 0s 9ms/step - loss: 65613745618944.0000
Epoch 259/300
1/1 [==============================] - 0s 8ms/step - loss: 65081182257152.0000
Epoch 260/300
1/1 [==============================] - 0s 8ms/step - loss: 64553312321536.0000
Epoch 261/300
1/1 [==============================] - 0s 9ms/step - loss: 64030249058304.0000
Epoch 262/300

1/1 [==============================] - 0s 9ms/step - loss: 63512042799104.0000
Epoch 263/300
1/1 [==============================] - 0s 8ms/step - loss: 61053945774080.0000
Epoch 264/300
1/1 [==============================] - 0s 8ms/step - loss: 60482450882560.0000
Epoch 265/300
1/1 [==============================] - 0s 9ms/step - loss: 59950348894208.0000
Epoch 266/300
1/1 [==============================] - 0s 7ms/step - loss: 58464097271808.0000
Epoch 267/300
1/1 [==============================] - 0s 8ms/step - loss: 57919190073344.0000
Epoch 268/300
1/1 [==============================] - 0s 9ms/step - loss: 65359818260480.0000
Epoch 269/300
1/1 [==============================] - 0s 8ms/step - loss: 63785129738240.0000
Epoch 270/300
1/1 [==============================] - 0s 8ms/step - loss: 63253694644224.0000
Epoch 271/300
1/1 [==============================] - 0s 8ms/step - loss: 62721307443200.0000
Epoch 272/300
1/1 [==============================] - 0s 10ms/step - loss: 62188844744704.0000
Epoch 273/300
1/1 [==============================] - 0s 7ms/step - loss: 61657027969024.0000
Epoch 274/300
1/1 [==============================] - 0s 8ms/step - loss: 61126565953536.0000
Epoch 275/300
1/1 [==============================] - 0s 9ms/step - loss: 60598083649536.0000
Epoch 276/300
1/1 [==============================] - 0s 10ms/step - loss: 60072164065280.0000
Epoch 277/300
1/1 [==============================] - 0s 8ms/step - loss: 59549314711552.0000
Epoch 278/300
1/1 [==============================] - 0s 9ms/step - loss: 59029996961792.0000
Epoch 279/300
1/1 [==============================] - 0s 7ms/step - loss: 58514621857792.0000
Epoch 280/300
1/1 [==============================] - 0s 8ms/step - loss: 58002388287488.0000
Epoch 281/300
1/1 [==============================] - 0s 7ms/step - loss: 57495942856704.0000
Epoch 282/300
1/1 [==============================] - 0s 8ms/step - loss: 56994413150208.0000
Epoch 283/300
1/1 [==============================] - 0s 8ms/step - loss: 56498042437632.0000
Epoch 284/300
1/1 [==============================] - 0s 12ms/step - loss: 56007044628480.0000
Epoch 285/300
1/1 [==============================] - 0s 8ms/step - loss: 55521579106304.0000
Epoch 286/300
1/1 [==============================] - 0s 8ms/step - loss: 67751553007616.0000
Epoch 287/300
1/1 [==============================] - 0s 10ms/step - loss: 67335960395776.0000
Epoch 288/300
1/1 [==============================] - 0s 10ms/step - loss: 66920787214336.0000
Epoch 289/300
1/1 [==============================] - 0s 7ms/step - loss: 66506545168384.0000
Epoch 290/300
1/1 [==============================] - 0s 7ms/step - loss: 66093741768704.0000
Epoch 291/300
1/1 [==============================] - 0s 9ms/step - loss: 65682813222912.0000
Epoch 292/300
1/1 [==============================] - 0s 10ms/step - loss: 65274061520896.0000
Epoch 293/300
1/1 [==============================] - 0s 8ms/step - loss: 64867834789888.0000
Epoch 294/300
1/1 [==============================] - 0s 9ms/step - loss: 64464409853952.0000
Epoch 295/300
1/1 [==============================] - 0s 9ms/step - loss: 64064004816896.0000
Epoch 296/300
1/1 [==============================] - 0s 10ms/step - loss: 63666821005312.0000
Epoch 297/300
1/1 [==============================] - 0s 9ms/step - loss: 63273001025536.0000
Epoch 298/300
1/1 [==============================] - 0s 8ms/step - loss: 62882679095296.0000
Epoch 299/300
1/1 [==============================] - 0s 8ms/step - loss: 62495955877888.0000
Epoch 300/300
1/1 [==============================] - 0s 9ms/step - loss: 62112911065088.0000

# Predict

In [73]:
x_input=np.array([data_2019,data_2020,data_2021])
temp_input=list(x_input)
lst_output=[]
i=0
while(i<10):
    if(len(temp_input)>3):
        x_input=np.array(temp_input[1:])
        print("{} year input {}".format(i,x_input))
        x_input=np.array(x_input).reshape((1,n_steps,n_features))
        yhat=model.predict(x_input,verbose=0)
        print("{} year output {}".format(i, yhat))
        temp_input.append(yhat[0][0])
        temp_input=temp_input[1:]
        lst_output.append(yhat[0][0])
        i=i+1
    else:
        x_input=np.array(x_input).reshape((1,n_steps,n_features))
        yhat=model.predict(x_input,verbose=0)
        print("{} year output {}".format(i, yhat))
        temp_input.append(yhat[0][0])
        lst_output.append(yhat[0][0])
        i=i+1
print(lst_output)

0 year output [[17639262.]]
1 year input [  351891. 27611680. 17639262.]
1 year output [[63991800.]]
2 year input [27611680. 17639262. 63991800.]
2 year output [[3.2614093e+08]]
3 year input [1.7639262e+07 6.3991800e+07 3.2614093e+08]
3 year output [[4.9414422e+08]]
4 year input [6.3991800e+07 3.2614093e+08 4.9414422e+08]
4 year output [[1.8028687e+09]]
5 year input [3.2614093e+08 4.9414422e+08 1.8028687e+09]
5 year output [[5.449543e+09]]
6 year input [4.9414422e+08 1.8028687e+09 5.4495432e+09]
6 year output [[1.2772831e+10]]
7 year input [1.8028687e+09 5.4495432e+09 1.2772831e+10]
7 year output [[3.9496237e+10]]
8 year input [5.4495432e+09 1.2772831e+10 3.9496237e+10]
8 year output [[1.0944312e+11]]
9 year input [1.2772831e+10 3.9496237e+10 1.0944312e+11]
9 year output [[2.8970028e+11]]
[17639262.0, 63991800.0, 326140930.0, 494144220.0, 1802868700.0, 5449543000.0, 12772831000.0, 39496237000.0, 109443120000.0, 289700280000.0]